[2015-09-09 06:49] yasaricli opened #1 "Uncaught TypeError: Cannot read property 'focus' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.1.2

### Stack Trace

Uncaught TypeError: Cannot read property 'focus' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-09 07:41] jeremyramin commented on #1
@yasaricli I'll take a look, thanks for letting me know.

[2015-09-09 08:09] #1 closed

[2015-09-09 11:18] yasaricli commented on #1
:+1:

[2015-09-09 15:01] daenney opened #2 "terminal automatically closing"
When I try to open up the terminal the pane slides open, something is printed and then slides shut again. I can't see what exactly but I expect some kind of error.

[2015-09-09 19:56] alexnofoget opened #3 "Uncaught TypeError: Cannot read property '0' of undefined"
**Atom Version**: 1.0.11
**System**: Linux Mint
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.1.3

### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-09 22:44] jeremyramin commented on #2
@daenney I think I know what could be wrong. If you don't mind me asking,
1. What system are you on? (OS X, Windows, Linux)
2. What is your standard terminal? (bash, cmd.exe, powershell, sh, zsh)

[2015-09-09 22:52] jeremyramin commented on #3
@alexnofoget Sorry, I haven't had much chance to test this on other platforms yet. Thank you for taking the time to report this, I'll try and see what could be wrong.

[2015-09-10 00:23] miguelcarax commented on #2
I have the same issue, ArchLinux and I'm using zsh.

[2015-09-10 00:24] jeremyramin commented on #2
Is that your default shell? Or did you override it in the settings?

[2015-09-10 00:24] miguelcarax commented on #2
Bash it's default, but i'm using zsh out of atom

[2015-09-10 00:28] jeremyramin commented on #2
Interesting. It is picking up on the correct shell yet it is having trouble launching it. In the next 20 minutes I'll release an update. Let's see if it fixes the issue.

[2015-09-10 00:28] miguelcarax commented on #2
Nice! I'll be notice if it's fixed :) thx

[2015-09-10 00:49] jeremyramin commented on #2
@miguelcarax The next update won't fix the issue, but it will leave the terminal open after the issue. If you could copy and paste the output here so I can see it, that would be very helpful.

[2015-09-10 03:19] binhor009 opened #4 "Fail to install into ATOM"
i'm attemping to install you packge but i got some error.... look the output below:

Installing “terminal-plus@0.1.6” failed.Hide output…

make: Entering directory `/tmp/apm-install-dir-115810-7379-150zpvb/node_modules/terminal-plus/node_modules/pty.js/build'
  CXX(target) Release/obj.target/pty/src/unix/pty.o
make: Leaving directory `/tmp/apm-install-dir-115810-7379-150zpvb/node_modules/terminal-

[2015-09-10 03:32] jeremyramin commented on #4
@binhor009 You need `g++` to compile the dependencies. If you go into your local terminal on your machine and enter the command 'g++' it should give you instructions on how to install it.

[2015-09-10 07:33] daenney commented on #2
In my case it's OS X 10.11 with Fish 2.2 as my default shell.

[2015-09-10 07:34] jeremyramin commented on #2
@daenney If you could tell me what happens now with the latest update, that would be very helpful.

[2015-09-10 07:34] daenney commented on #2
This is what I get:

[2015-09-10 07:42] jeremyramin commented on #3
Fix should be fixed by commit c4ee1b8fc64f8df0eeae599f34bca27d53414c14.

[2015-09-10 09:52] jeremyramin commented on #2
@daenney Thanks. I posted an update. Let me know if this fixes your issue.

[2015-09-10 09:57] daenney commented on #2
Yap, aces! :100:

[2015-09-10 09:58] #2 closed

[2015-09-10 10:00] daenney commented on #4
This usually stems from the fact that either Xcode or Xcode Command Line Tools aren't installed (on OS X).

[2015-09-10 17:28] jokedurnez opened #5 "shortkey to send to terminal"
Is there an option to select a line of code and then send it to the active terminal with a shortkey (eg. Ctrl-Enter) instead of copy-pasting all the time?
That would be great :)

[2015-09-10 18:18] Zooce commented on #4
![failed_install](https://cloud.githubusercontent.com/assets/5490155/9796930/7aea8fa6-57ad-11e5-8ff4-d2948b0257c5.jpg)

Windows 7 x64
Atom 1.0.11

[2015-09-10 18:19] jeremyramin commented on #5
That could be easily added. I'll see if I can get that in today in an update.

[2015-09-10 18:22] jeremyramin commented on #4
@Zooce Sorry, there have been issues installing on Windows. It's a problem with one of the dependencies I use. I'll be sure to let you know when it's fixed.

[2015-09-10 18:22] Zooce commented on #4
@jeremyramin Thanks, I appreciate it!

[2015-09-10 18:52] miguelcarax opened #6 "login : wrong option -- 'q'"
After open the terminal the next message shows:

"
login: wrong option -- 'q'
Use: login [-p] [-h <host>] [-H ]  [[-f] <username>]

Start a sesion in the system

cd ...
"

After that i'm not able to write if i click on it an error appear. I have default options

[2015-09-10 19:11] jeremyramin commented on #6
@miguelcarax A new update just came out, please let me know if it fixes this issue.

[2015-09-10 19:22] miguelcarax commented on #6
Now i'm able to write just a few seconds, after that i can't do anything, and the terminal don't accept the command. And the "clear" and "pwd" appear in terminal after the cwd.

[2015-09-10 19:26] jeremyramin commented on #5
@jokedurnez Would you prefer that your focus jumps to the terminal or stay in the text editor?
Example 1: You select text and press the shortkey then continue typing in the text editor.
Example 2: You select text and press the shortkey, then focus on the terminal if it is open.

[2015-09-10 19:34] jokedurnez commented on #5
Wow I even have the choice !
I'm actually for a long time looking for a replacement for my favorite linux-editor kate and there it stays in the text editor.  This makes it easy to run only a few lines of code in a document.
And now that we're asking... Is it also possible to add an option that when you don't make a selection, the whole line where the cursor is, is sent to the terminal? And then af

[2015-09-10 19:46] jeremyramin commented on #5
@jokedurnez Oh so the command should be run after being inserted? I have it working but it only inserts the text, it doesn't actually run the command.

[2015-09-10 19:48] jokedurnez commented on #5
Running would be great.

[2015-09-10 20:12] jeremyramin commented on #5
@jokedurnez Latest update has it. Give it a try and let me know if it works properly.

[2015-09-10 20:14] jeremyramin commented on #6
@miguelcarax I think I finally have it fixed. Please do give it one more try.

I'd like to apologize for all of the trouble, I haven't had a chance to test this on Linux until now. You are being very helpful and patient.

[2015-09-10 20:23] jokedurnez commented on #5
Perfect! Thanks!

[2015-09-10 20:23] miguelcarax commented on #6
It works now! Just one last think, it's possible to terminal to close when i type "exit", it only show "logout" but don't close, thank!

[2015-09-10 20:43] #5 closed

[2015-09-10 20:44] jeremyramin commented on #6
@miguelcarax I can add that as an option in the settings. It used to close on exit but I had to remove that so we could see what the output from your terminal was.

[2015-09-10 21:53] jeremyramin commented on #6
@miguelcarax The latest update should have `Close Terminal on Exit` in the settings. If you enable it, it should do what you requested.

[2015-09-10 21:58] miguelcarax commented on #6
It works perfectly! So many thx! :)

[2015-09-11 02:58] jeremyramin commented on #6
@miguelcarax Thank you for being patient with me while fixing the issue.

[2015-09-11 02:58] #6 closed

[2015-09-11 10:02] miguelcarax opened #7 "Output is cut"
Well, hi again. I have a new issue, the output of the terminal it's out of terminal.

Edit: It happens with full screen too.

![captura de pantalla de 2015-09-11 12-00-17](https://cloud.githubusercontent.com/assets/9194709/9812325/df35d748-587c-11e5-9190-c61ed0c74458.png)

[2015-09-11 19:51] danieltdt commented on #3
I still getting this error

**Atom Version**: 1.0.11
**System**: linux 4.1.6-1-ARCH
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.2.0

### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-12 19:37] jeremyramin commented on #7
@miguelcarax Did this happen after resizing Atom?

[2015-09-12 19:39] jeremyramin commented on #3
@danieltdt Thanks for the report. Could you tell me what command you were using when this happened? I need to look into it so I can try to reproduce the error and debug it.

[2015-09-12 19:43] danieltdt commented on #3
I was running `bundle exec rails server`. I clicked on "Maximize" to check some requests then clicked on "Hide". After that, the error appears.
I was with other two terminals opened too, but nothing were running.

[2015-09-12 19:46] jeremyramin commented on #3
@danieltdt Thanks! I'll look into this and get back to you.

[2015-09-12 20:09] miguelcarax commented on #7
yes

[2015-09-13 03:13] jeremyramin commented on #7
@miguelcarax Did you enter ls and then resize? or resize then ls? Currently the terminal cuts off the end if you resize down.

[2015-09-13 07:48] jeremyramin commented on #3
@danieltdt  New update. Please let me know if your issue was fixed.

[2015-09-13 08:34] danieltdt commented on #3
Nice! I'll check this out. Thanks!

[2015-09-13 13:46] miguelcarax commented on #7
it's cut in any form.

[2015-09-13 20:25] jeremyramin commented on #7
Resizing removes letters from the right side until I change it. If your ls looks like that after a resize then yes that is a problem. It is just that your terminal should be adjusting to the new size. Are you on the latest update?

[2015-09-14 03:47] jeremyramin commented on #7
@miguelcarax I just realized but are you using a monospaced font? Terminals rely on that to have proper spacing.

[2015-09-15 01:20] jeremyramin commented on #4
The latest version [v0.4.0](https://atom.io/packages/terminal-plus) should fix this issue.
@Zooce It would be very helpful if you could give this latest update a try and let me know if it works on your system.

[2015-09-15 07:32] jeremyramin commented on #3
Closing this issue because it has been two days since any reported issues.

[2015-09-15 07:32] #3 closed

[2015-09-15 16:16] Zooce commented on #4
@jeremyramin It's working great so far! Thanks for jumping on this issue so quickly!

[2015-09-16 09:04] siklodi-mariusz opened #8 "zsh: command not found"
I'm trying to use this terminal in a Rails project and when I run any command like:

bundle exec rails server
bundle install

I get somethin like:
zsh: command not found: bundle

If I run rails server without bundler I get
/usr/bin/env: ruby: No such file or directory

As you can see I also use oh-my-zsh.

Any ideas?

[2015-09-16 09:37] JostCrow opened #9 "Terminal as a tab"
Maybe it is an idea to show the terminal as a tab in atom.

[2015-09-16 09:49] JostCrow opened #10 "Name the terminals"
Could it be possible to name the terminals so it will be possible to see what they are doing?

![screenshot from 2015-09-16 11 41 53](https://cloud.githubusercontent.com/assets/390575/9901615/014de290-5c69-11e5-954e-dfdaa07ecc4f.png)

[2015-09-16 21:20] jeremyramin commented on #10
@JostCrow That could be possible. What is the best way to implement this? Right click menu and then present a modal for entering a name?

[2015-09-16 21:24] jeremyramin commented on #8
@siklodi-mariusz Some questions I have so I can figure out why this is happening:
1. What OS are you operating from?
2. Which shell are you currently using? (You can check by going into the package settings and seeing what the default is for `Shell Override`)

[2015-09-16 21:29] jeremyramin commented on #9
@JostCrow I appreciate the idea. I'll put it on a list of possible features to add to the package.

[2015-09-16 21:48] jeremyramin commented on #4
I'll ahead and close this issue since it appears to be fixed.

[2015-09-16 21:48] #4 closed

[2015-09-17 07:19] siklodi-mariusz commented on #8
Sorry ,I forgot about the OS. I use Ubuntu 14.04
And yes ```bundle``` works in the system's terminal, I also have the zsh plugin for ```bundler``` which has some aliases that make ```bundle install``` become ```bi``` and so on. In my system's terminal bought work.

[2015-09-17 07:29] jeremyramin commented on #8
So your aliases aren't appearing either? May I ask which zsh profile file
you are putting your alias settings in?

On Thu, Sep 17, 2015, 12:19 AM siklodi-mariusz <notifications@github.com>
wrote:

[2015-09-17 08:31] JostCrow commented on #10
Yes I would do something like that. That way you don't have to name them.

[2015-09-17 08:33] JostCrow commented on #9
Ok. Maybe I can see if I could work something out for this one.

[2015-09-17 09:16] siklodi-mariusz commented on #8
The plugins are configured in ~/.zshrc. I don't think the plugins are the problem because I also have plugins for ```git``` and ```rvm``` and they work.

[2015-09-17 15:29] jeremyramin commented on #8
If you enter the `alias` command, do you see your aliases? It might not be
loading your zsh profile.

On Thu, Sep 17, 2015, 2:16 AM siklodi-mariusz <notifications@github.com>
wrote:

[2015-09-17 15:48] siklodi-mariusz commented on #8
Yes I do see them, ```alias | grep bundle``` returns this plus other commands.
```bcn='bundle clean'```
```be='bundle exec'```
```bl='bundle list'```
```bo='bundle open'```
```bp='bundle package'```
```bu='bundle update'```

[2015-09-17 15:53] jeremyramin commented on #8
In your regular terminal if you type `which bundle`, what location does it give you?
You can check the path variable (`echo $PATH`) in the Terminal-Plus terminal to see if that path is there.

[2015-09-17 16:04] siklodi-mariusz commented on #8
Yep, this is the problem. When I run ```which bundle``` in my system's terminal I get: **/home/mariusz/.rvm/gems/ruby-2.2.2/bin/bundle** and the path is also present in $PATH.
The thing that this changes when I change the ruby version an gemset with rvm.
In Terminal-Plus when I ```echo $PATH``` I don't have that path, I have this:
**/home/mariusz/npm-global/bin:/usr/local/sbin:/usr/local/bin:/usr/

[2015-09-17 16:09] jeremyramin commented on #8
Okay so it loads the aliases but it isn't resolving the PATH properly. In Terminal-Plus can you run the command `zsh --login`. If that doesn't work then `zsh -l` might be it. That would place you in a new zsh shell. Check PATH once more in this new shell instance please.

[2015-09-17 16:13] siklodi-mariusz commented on #8
Yep, this works.

[2015-09-17 16:17] jeremyramin commented on #8
So this fixes the issue? Fantastic. Did you end up using `--login` or `-l`?

[2015-09-17 16:22] siklodi-mariusz commented on #8
Yes it works all the comands seem to work fine. I used ```--login```
So is this is? I just have to run this command after I open a termina-plus?
If I remember right I saw something in the settings of Terminal-plus an option to run a command when an instance was open but I can't find it now. It was removed?

[2015-09-17 16:26] jeremyramin commented on #8
The option to add `Shell Arguments` should be there. I was actually going to include the command myself because it should do this by default.

[2015-09-17 16:31] siklodi-mariusz commented on #8
Ok, something else must be wrong because the only options I have are the colors.

[2015-09-17 16:33] jeremyramin commented on #8
Oh, that's not good. What version of atom are you on?

[2015-09-17 16:34] siklodi-mariusz commented on #8
1.0.2

[2015-09-17 16:36] jeremyramin commented on #8
Ah yes. There was a bug in atom for settings configurations like in Terminal-Plus. It was fixed by Atom version 1.0.8. Updating will fix the settings issue.

[2015-09-17 16:37] jeremyramin commented on #10
I'll look into adding this and get back to you once I have published it.

[2015-09-17 16:39] siklodi-mariusz commented on #8
Ok, great. Thank you very much for your help and for this great terminal package!

[2015-09-17 16:44] jeremyramin commented on #8
Thank you for being patient with me while working out the issues. I hope you continue to enjoy the package.

[2015-09-17 19:39] jeremyramin commented on #8
c44b6622bf76db7bda026831d0e2c35d5e7bfc54 fixes this issue.
Released in v0.4.1

[2015-09-17 19:39] #8 closed

[2015-09-17 19:40] jeremyramin commented on #7
Has this issue been fixed for you?

[2015-09-18 01:17] JohnMurga opened #11 "Windows - Atom 1.0.11 OK - Atom 1.0.13 Not working"
Hey,

Awesome Package :-)

Anyway, doesn't work on 1.0.13 as I am assuming that the native pty.js module would have to be rebuilt for IO.js 2.3.1 ... Ironically Atom says that it rebuilt it, but then it still doesn't work.

Thanks !!

[2015-09-18 01:26] jeremyramin commented on #11
@JohnMurga Thanks for letting me know. I really need to find a better way to handle the pty.js dependency but I don't have any ideas. I can rebuild for atom 1.0.13 but I think then the people who haven't updated will get an issue.

[2015-09-18 01:29] JohnMurga commented on #11
I suspect 1.0.12 is affected too, as that's the one where IO.js and Electron got the update

[2015-09-18 05:19] jeremyramin commented on #11
Please try updating the Terminal-Plus dependencies. If you are not familiar with this process you can uninstall and reinstall the package. Pty.js has been rebuilt and should work now.

[2015-09-18 05:21] JohnMurga commented on #11
Wow, that was fast :-)
Thanks !!
Will try in a few hours

[2015-09-18 06:38] siklodi-mariusz opened #12 "scroll up does not work"
I can't scroll up to see previous commands and output.
I can scoll up while a command is running for example ```rake``` and when the command is finished it freezes where It was and can't go down.
**Ubuntu 14.04**
**Atom: 1.0.11**
**Terminal-plus: 0.4.2**

[2015-09-18 06:48] jeremyramin commented on #12
That is interesting, I see it working for me and it works on my Ubuntu machine. Please try updating Atom to the latest release (1.0.13) and then updating Terminal-Plus if you can.

[2015-09-18 11:20] am-webdev opened #13 "decreased performance when running python script"
Running a Python script in nativ terminal is super fast but if I run the same script from terminal-plus it takes much more time and also Atom is lagging and can not be used until the script is finished or aborted. So the whole package becomes useless for me :(

using atom 1.0.11 on osx 10.10.5 and terminal-plus 0.4.2

[2015-09-18 21:00] jeremyramin commented on #13
I'll add this to the list of improvements and get back to you once I release a solution.

[2015-09-18 22:46] mathewv opened #14 "Terminal does not work with IME"
On Linux with IBus/Anthy, it isn't possible to type Japanese characters in the terminal. Presumably other languages that require an IME also don't work, and I would assume the same problem exists on Windows and OS X.

[2015-09-18 22:54] jeremyramin commented on #14
Thanks for reporting this. I'll look into it.

[2015-09-19 04:05] yzhen123 opened #15 "win10, atom v1.0.13, terminal-plus v0.4.3 not working"
![360 177806018311879](https://cloud.githubusercontent.com/assets/5233940/9974539/30a4d922-5ec6-11e5-8ecf-af67099e301f.png)

after successfully installed, it just don't show anything and can't type any commands. There are no error message either. But I have to say it could be the best terminal plugin in atom-windows

[2015-09-19 04:12] jeremyramin commented on #15
Please try uninstalling and then reinstalling the app. Don't worry, your
settings shouldn't disappear.

On Fri, Sep 18, 2015, 9:05 PM Z.Y. <notifications@github.com> wrote:

[2015-09-19 04:25] yzhen123 commented on #15
It's still not working.

[2015-09-19 08:47] jeremyramin commented on #15
I'll have to take a look and run some tests of my own. I'll notify you here if I need anything, or if I publish a release that fixes this issue.

[2015-09-19 08:55] yzhen123 commented on #15
I'll really appreciate it.

[2015-09-20 08:51] lijunle opened #17 "Terminal window is cut"
See the screenshot:
![2015-09-20-164841_604x349_scrot](https://cloud.githubusercontent.com/assets/1296500/9979934/a37ea03a-5fb7-11e5-823d-f1d67dc3aac6.png)

Repro steps:

1. Open terminal window
2. Resize the atom window to smaller and smaller
3. The terminal is not size responsible, the bottom of terminal window is cut

[2015-09-20 16:29] jeremyramin commented on #11
Did this work for you?

[2015-09-20 18:59] JohnMurga commented on #11
Sorry ...
Yeah, works beautifully :+1:
Thanks !!

[2015-09-21 00:36] #11 closed

[2015-09-21 05:07] jeremyramin commented on #15
I know what the issue is now. I should have a fix for it soon.

[2015-09-21 05:21] yzhen123 commented on #15
congratulations！！It's fast.

[2015-09-21 11:57] miguelcarax commented on #7
Sorry, i was without internet those days. The problem was the font yeah... i change to default and now works properly.

Can be posible to have a Solarized Dark theme?

Sorry for the late answer.

[2015-09-21 15:55] jeremyramin commented on #17
I see what you're saying. I can have the terminal resize smaller with the window but at then at a certain point you reach the minimum terminal height. Does that sound good?

[2015-09-21 16:41] crmckenzie opened #18 "terminal does not honor color codes"
Platform: Windows

When I run rspec the colorized output is not honored. Instead, the color codes are printed directly.
Despite this issue, this is a really great plugin. Thank you :)

### Example
[code]

[2015-09-21 17:07] jeremyramin commented on #18
Thank you for your complement and I appreciate you taking the time to report this issue. I'll add this to the list of things to fix and let you know once a fix has been published. I apologize in advance if it takes several days to get to this, I don't have as much free time right now.

[2015-09-21 20:08] jeremyramin commented on #18
I just had a chance to test this on my Windows machine with rspec, and I can't seem to be able to reproduce this issue.
![image](https://cloud.githubusercontent.com/assets/3977054/10003565/d0affa18-6061-11e5-992b-985287cb0ba3.png)

Some questions you can answer to help me figure out what is wrong:
1. Which version of Windows are you using?
2. Which shell are you using? (Default is Powershell)
3. A

[2015-09-21 20:31] jeremyramin commented on #7
Miguel, you can specify your own theme by adding the following template to your Atom stylesheet:
[code]
Your Atom stylesheet can be opened by clicking `File > Open Your Stylesheet` from the menu at the top of Atom. This is CSS and expects a color name or hex color attribute.

Example:
[code]

[2015-09-21 20:34] jeremyramin commented on #12
Do you still have this issue?

[2015-09-21 20:35] crmckenzie commented on #18
OS: Windows 7 x64
Shell: Powershell

Further review shows that it appears to be an issue when rspec is running under autotest.
### Output under rspec
![image](https://cloud.githubusercontent.com/assets/947569/10004174/3773ddc0-6065-11e5-8acf-65212057340d.png)

My configuration is:

### /.rspec
[code]

### /.autotest
[code]

### Output under autotest
![image](https://cloud.githubusercontent.com/ass

[2015-09-21 20:54] jeremyramin commented on #18
If you could, please test the `autotest` command in the external Powershell. Do you see the proper output?

[2015-09-21 20:58] miguelcarax commented on #7
Wow! That works great! Thx for all :)

[2015-09-21 20:59] jeremyramin commented on #7
No problem. Glad I could help.

[2015-09-21 21:01] #7 closed

[2015-09-21 21:41] crmckenzie commented on #18
You are onto something. I've been using ConEmu as my default terminal for a long time and this problem does not present there. However, in the external powershell console the problem does present. Conclusion, the problem is not in your code--it's in the shell's inability to display 256 colors.

Thanks for helping me track this down.

[2015-09-21 21:45] jeremyramin commented on #18
No problem, I'll go ahead and close this issue then.

**Note:** You can specify a different shell in the Terminal-Plus settings with the `Shell Override` setting. Changing the shell to match the one used by ConEmu might be the solution to your problem.

[2015-09-21 21:45] #18 closed

[2015-09-22 03:23] lijunle commented on #17
How do you determine the minimun height? You hard code it, or calculate it dynamically on the fly?

[2015-09-22 03:29] jeremyramin commented on #17
Calculate it dynamically. I could have the terminal resize down with Atom past the usual minimum of three lines. However I think that the terminal should at least show three lines for displaying command output.

[2015-09-22 03:46] lijunle commented on #17
IMO, it could better *not* to do such assumption. We don't know where do Atom running. Just think about user are running on a mobile phone and not having enough room to show three lines.

By the way, why not make terminal a real Atom panel and let Atom to handle this kind od resizing?

[2015-09-22 04:04] jeremyramin commented on #17
The terminal is attached as a real Atom bottom-panel. Atom does not handle the resizing of the bottom panel. If you try resizing Atom smaller without the terminal, you'll see that the Atom status-bar begins to disappear at some point. This is why the best I can do is track the window resizing and have the terminal resize smaller with Atom.

[2015-09-22 05:44] jeremyramin commented on #15
Please update to the latest version of Atom (1.0.15) and try to use the package.

[2015-09-22 05:46] yzhen123 commented on #15
Thanks, I'll try in few fours.

[2015-09-22 06:28] siklodi-mariusz commented on #12
Yes it's still the same. But I didn't update Atom  yet. I've added the PPA from [here](https://launchpad.net/~webupd8team/+archive/ubuntu/atom/) but it's not updated that frequently. I'll wait until it's updated and see if things change.

[2015-09-22 08:22] yzhen123 commented on #15
I'm sorry to say that it still looks not working...
![qq 20150922154252](https://cloud.githubusercontent.com/assets/5233940/10013084/b99cb46c-6140-11e5-97aa-2e4622aeb945.png)

[2015-09-22 08:25] jeremyramin commented on #15
Can you please show me what your console says?

[2015-09-22 08:32] yzhen123 commented on #15
There are still nothing
![qq 20150922154252](https://cloud.githubusercontent.com/assets/5233940/10013821/6076380c-6147-11e5-8b62-186e76f730c6.png)

[2015-09-22 08:35] yzhen123 commented on #15
![image](https://cloud.githubusercontent.com/assets/5233940/10013864/c6132580-6147-11e5-882e-67815ad081ff.png)
And I can find the winpty process in my tasklist

[2015-09-22 23:40] jeremyramin commented on #12
Okay thanks, that would be great.

[2015-09-22 23:59] jeremyramin commented on #15
That means it was launched but it didn't work, which is different from what I originally thought was wrong. I'm surprised that you aren't seeing any error output. This is an issue with a dependency of the package, which I'll have to look at and get back to you.

[2015-09-23 02:12] jeremyramin commented on #13
Could you provide me with an example script I could test this with? I tried doing a python script as well as a terminal stress test and found no issues. Atom was responsive and the task completed in the same amount of time as usual.

[2015-09-23 06:31] jeremyramin commented on #10
Added in latest release ([v0.5.0](https://github.com/jeremyramin/terminal-plus/commit/48566fec628e8132989203226e490458be7fe43a)).

[2015-09-23 06:31] #10 closed

[2015-09-23 09:40] JostCrow commented on #10
Thanks it looks great

[2015-09-23 16:36] davunderscorei commented on #12
I'm getting the same issue frequently (but not constantly) on:

* OSX 10.10.2
* Atom 1.0.15
* terminal-plus 0.5.0

[2015-09-23 16:39] jeremyramin commented on #12
Are you using `rake` as well or is it a different command?

[2015-09-23 16:50] davunderscorei commented on #12
Nope not using `rake`, it seems to be all sorts of commands. I only started using Atom and terminal-plus today so I'll keep an eye on it and see if I can notice any patterns but so far seems to be random!

[2015-09-23 16:52] jeremyramin commented on #12
What is interesting is that it doesn't seem to be a widespread problem as far as I know. Please do let me know if you figure out what the correlation might be for these commands that cause a scrolling problem.

[2015-09-24 01:39] Maistho commented on #15
I seem to have a similar issue, but I also get a message in the console every time I try to open the terminal.

[code]

I'm running Windows 10, Atom 1.0.16, Terminal Plus 0.5.1

Please let me know if there's anything I can do to help debug this. =)

[2015-09-24 04:46] jeremyramin commented on #15
@Maistho This is because you don't have the tools necessary to compile the native module dependencies of Terminal-Plus (see author's note in README). However, the plugin will still work because I provide precompiled binaries for each operating system.

You can help me reproduce this by giving me the steps you took that lead you to the issue. (i.e. Open and hide, then open and use command `example`

[2015-09-24 06:54] jeremyramin commented on #17
The latest release (v0.6.0) should have the resizing to Atom window. Hopefully it is designed as you requested.

[2015-09-24 07:23] jeremyramin commented on #15
@Maistho Actually, what language are you using on your computer?

[2015-09-24 08:58] thejamespower opened #19 "Incompatible Node Dependency with Latest Atom"
Latest version of Atom ships with Node 1.5.1 and Chrome 41.0.2272.76, quite a major increment. Unfortunately Terminal-Plus isn't compatible with this latest release.

[code]

[2015-09-24 09:00] thejamespower commented on #19
Really sorry, complete messed this up! Re-building the package and restarting Atom fixed the issue.

[2015-09-24 09:00] #19 closed

[2015-09-24 11:07] RiderSx commented on #15
Same problem. Have properly installed node-gyp and devtools console still reports that pty.node module cannot be found.

[2015-09-24 12:26] davunderscorei commented on #12
Not found a pattern yet, but I've found that if you run a long running command (e.g. `ping google.com`) then scrolling works again, until that command finishes, when scrolling no longer works.

[2015-09-24 13:03] siklodi-mariusz commented on #12
Yes that's exactly how it behaves. So for exemple if I run ```tail -f -n 10 <file>``` to monitor my ```rails``` project development.log, scroll works perfectly as long as the ```tail``` comand is running. When I stop the command it freezes.

[2015-09-24 13:07] Maistho commented on #15
@jeremyramin I'm using English UK, but I'm in Sweden and have Swedish time and currency format. Does language affect what binaries are used?

It seems that the winpty process starts (I can see it in taskmgr) but the terminal never loads. (Just a blinking cursor)

[2015-09-24 13:17] Maistho commented on #15
I updated to 0.6.0, still have the same issue.
What do I need to install in order to compile the native module dependencies? (I already have nodejs and node-gyp installed globally)

[2015-09-24 14:56] lijunle commented on #17
Thanks @jeremyramin , the fix is awesome! :+1:

[2015-09-24 14:56] #17 closed

[2015-09-24 16:38] jeremyramin commented on #15
@RiderSx There still might be an error causing node-gyp not to compile the binaries properly. The way to check this is to navigate to the pty.js dependency folder for Terminal-Plus and look at the builderror.log file.
Win: `C:\Users\{your username}\.atom\packages\terminal-plus\node_modules\pty.js\builderror.log`
Mac: `/Users/{your username}/.atom/packages/terminal-plus/node_modules/pty.js/builderr

[2015-09-24 16:44] Maistho commented on #15
What language would it work on? I could test changing my system language or locale and see if that solves it.

Thanks for the link! =)

[2015-09-24 16:54] jeremyramin commented on #15
I'm assuming that English is the only language it works on right now. If you could, please try changing the time and currency to English (or English UK in your case). If that still doesn't work, then we need to make sure that there aren't any other settings affecting the language on your system.

[2015-09-24 17:00] jeremyramin commented on #12
I'm going to need someone to run some commands in the console and paste their output here so I can figure out what's wrong with the scrolling. At the very lease we know that the scroll event is received. It's just something is blocking you from scrolling once a command ends.
[code]
Unfortunately you can only do one command at a time to see the output. You can get to the developer console via: `Vie

[2015-09-24 19:11] hojgr opened #20 "Terminal doesn't react"
When I press <C-`> or click Packages -> Terminal-Plus -> Toggle (or New Terminal) nothing happens.

I am using **fish** shell (but tried **bash** too) on **Ubuntu 15.4**, I am launching **atom** from terminal.

I am not sure how to debug this (I am using Atom for few minutes now :))

What can I do to provide more info about this issue? :)

[2015-09-24 19:19] hojgr commented on #20
Solved it! There was a little :beetle: icon in status bar. After clicking on it told me that **terminal-plus** was compiled for earlier version of **Atom**. Rebuilding fixed it and terminal-plus works wonderfully now!

Hope it helps someone someday :)

[2015-09-24 19:19] #20 closed

[2015-09-24 20:43] Maistho commented on #15
Still doesn't seem to work (with english/UK). I'll try installing python and the other things needed for node-gyp and then rebuild, see if that helps.

[2015-09-24 20:46] Maistho commented on #15
Also, I'm not sure if this is related, but if I try to uninstall while winpty-agent.exe is running the uninstall fails silently. I have to manually close the process in taskmgr before I can uninstall Terminal-plus

[2015-09-24 22:45] yzhen123 commented on #15
I have same problem, winpty-agent.exe process won't be killed after close the terminal tab.

[2015-09-25 01:20] jeremyramin commented on #15
This could be a problem with the winpty-agent. I'll find some time in the next couple days to go through the code. Winpty is a dependency of a Terminal-Plus dependency, so I haven't dealt with it much.

[2015-09-25 07:36] yoorek opened #21 "Hidden prompt"
on Mac prompt is hidden under "status bar" (not initially, but run any grunt/gulp task and stop it using CTRL-C). You do e.g "ls" see content of folder but prompt is not visible
<img width="796" alt="zrzut ekranu 2015-09-25 o 09 34 10" src="https://cloud.githubusercontent.com/assets/271500/10095278/db03e7b8-6368-11e5-9763-c5cf7318ac8a.png">

[2015-09-25 08:30] jeremyramin commented on #21
Thanks for reporting this. I'll see if I can reproduce this and then get back to you.

[2015-09-25 08:35] davunderscorei commented on #12
< 17

    < 21

    < 21

    < false

    < 38

[2015-09-25 08:57] siklodi-mariusz commented on #12
[code]

[2015-09-26 01:21] jeremyramin commented on #12
@davunderscorei Were you at the bottom after running a command?
@siklodi-mariusz I think you didn't have any history to scroll at that point.

[2015-09-26 05:56] jeremyramin commented on #21
This should be fixed in the latest update (v0.6.1). Please test the latest update and close this issue if your issue has been resolved.

[2015-09-26 07:37] yoorek commented on #21
It's fixed! Thanks!

[2015-09-26 07:37] #21 closed

[2015-09-26 07:53] jeremyramin commented on #15
@Maistho I'm curious. Did installing the proper tools for node-gyp and compiling your own version fix this issue for you?

[2015-09-26 08:02] yzhen123 commented on #15
@jeremyramin I installed the  vs2012 for desktop, I can find the winpty-agent.exe file in build directory, but there are no pty.node file, so the console shows can't find "../build/pty.node", I tried copy pty.node from bin/ to build/, but It's useless...

[2015-09-26 08:07] jeremyramin commented on #15
@yzhen123 Use the following command to rebuild the pty.js dependency from the pty.js folder:
`node-gyp rebuild --target=0.30.6 --dist-url=https://atom.io/download/atom-shell`

[2015-09-26 13:09] yzhen123 commented on #15
I tried several times but failed because of the poor network or some other reason, I'll keep trying tomorrow.

[2015-09-26 19:52] jokedurnez opened #22 "xcode error after osx update"
I got this rebuild error after osx update (yosemite 10.10.5):
------------------------------------------------------------------------------

xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance

xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Deve

[2015-09-28 08:55] davunderscorei commented on #12
@jeremyramin I was yes.

I've also thought of something else - I am using ZSH as my shell. I used `chsh` to switch to `bash` and then scrolling works.

@siklodi-mariusz are you using `bash` or another shell such as ZSH?

[2015-09-28 09:30] siklodi-mariusz commented on #12
Yes I'm using ZSH.

These are the results from the commands with some history.
[code]

[2015-09-28 09:54] daraz999 opened #23 "Uncaught TypeError: path.dirname is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.6.1

### Stack Trace

Uncaught TypeError: path.dirname is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-28 15:23] jeremyramin commented on #12
That could very well be the issue. Thank you, I'll try and recreate the
issue when I have a chance. You'll be notified once an update with the fix
has been released.

On Mon, Sep 28, 2015, 2:30 AM siklodi-mariusz <notifications@github.com>
wrote:

[2015-09-28 16:21] jeremyramin commented on #22
@jokedurnez It seems that your xcode install is has some issues. You may want to look at:
https://github.com/nodejs/node-gyp/issues/341#issuecomment-73983623
https://stackoverflow.com/questions/17980759/xcode-select-active-developer-directory-error-on-osx-mavericks/17980786#17980786

[2015-09-28 16:22] jeremyramin commented on #23
I just released an update (v0.6.2) for this issue. If it happens again, please let me know.

[2015-09-29 08:25] davunderscorei commented on #12
Cool, thanks @jeremyramin.

[2015-09-30 00:01] jeremyramin commented on #12
So I've been using zsh as my main shell for the past day, and scrolling seems to be working fine with me. This is rather peculiar...

[2015-09-30 08:27] davunderscorei commented on #12
@jeremyramin Scrolling seems normal when a command is running.

[2015-09-30 09:43] jokedurnez commented on #22
The first error is gone (xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance). The rest is still there...

The problem seems to be gyp.  Apparently a very common problem and I cannot figure out the error...

The problem occurs with 'sudo node-gyp rebuild':

gyp ERR! configure error
gyp ERR! sta

[2015-09-30 12:03] jokedurnez commented on #22
I have uninstalled and reinstalled node, node-gyp, and this package and now everything works again.  Must have been some compatibility issue.

[2015-09-30 19:57] jeremyramin commented on #22
In that case, I'll go ahead and close this issue.

[2015-09-30 19:57] #22 closed

[2015-10-01 04:38] T1mClark commented on #15
This is not a Terminal-Plus issue.  Microsoft has changed the console code in Windows 10 and it breaks current shells on most editors.   The work-a-round is:

1. Bring up a command prompt.
2. Click on the Settings icon (Top left corner)
3. Select Properties > Options > Check "Use legacy console"
4. Close and re-open ATOM or any other editor and test.

[2015-10-01 05:08] yzhen123 commented on #15
@T1mClark Thanks!!! it works for me.

[2015-10-01 05:11] jeremyramin commented on #15
@T1mClark Thank you! I've been trying to figure this out for days now. I'll have to put this on the README somewhere.

[2015-10-01 05:12] T1mClark commented on #15
No Problem.   Thank you for the excellent plugin.

[2015-10-02 02:21] #15 closed

[2015-10-05 11:06] SoullessWaffle commented on #15
@jeremyramin you may wanna put this in the author's notes :P

[2015-10-05 15:59] Tiseno opened #24 "Automatic directory switching"
I would love an option for the terminal to automatically switch directory when switching to another file. Alternatively an option which makes the toggle command check if there is a terminal in the directory of the current file and if not open a new instace for that directory.

[2015-10-05 17:06] jeremyramin commented on #15
@SoullessWaffle You're right, sorry about that. Just added it :)

[2015-10-05 17:15] jeremyramin commented on #24
Let me make sure I am understanding your request correctly,
1. When switching to another file view, have your active terminal change directories into the new directory.
or
2. On toggle, open the first terminal with the same directory as the current file. Open a new terminal if necessary.

Side effects of each:
1. Your command history would fill with `cd` commands. A workaround could be made for th

[2015-10-05 17:16] jeremyramin commented on #23
Since no replies have been made for seven days, I think it is safe to assume that this has been fixed. Thank you for your report.

[2015-10-06 05:02] cheunghy opened #25 "Terminal-plus won't work on atom 1.0.19"
<img width="1440" alt="screen shot 2015-10-06 at 1 01 56 pm" src="https://cloud.githubusercontent.com/assets/3055936/10300546/7eadd3dc-6c2a-11e5-898d-3f48d26be2a9.png">

[2015-10-06 05:03] jeremyramin commented on #25
@cheunghy If you click `Rebuild Packages` it should work after that.

[2015-10-06 05:06] cheunghy commented on #25
It works, Thanks.

By the way, what's the causing?

[2015-10-06 05:09] jeremyramin commented on #25
@cheunghy Atom thinks the package will stop working on the latest update. It disables the package until you tell Atom to rebuild it for the latest version.

[2015-10-06 05:11] jeremyramin commented on #12
I'm inclined to believe that there is some customization of zsh that you two have. I have no modifications to my zsh and it works perfectly fine. I'm not entirely familiar with what you can do with zsh, but is it possible that you have some modification to the standard functionality of it?

[2015-10-06 05:28] cheunghy commented on #25
Is there any way to make it work without clicking `Rebuild Packages`?

[2015-10-06 05:29] jeremyramin commented on #25
It works without clicking it, Atom just wont enable it unless you click `Rebuild Packages`. You can uninstall the package and reinstall it to avoid this but that takes more time.

[2015-10-06 05:59] jeremyramin commented on #25
Closing this issue as it has been solved.

[2015-10-06 05:59] #25 closed

[2015-10-06 06:48] siklodi-mariusz commented on #12
Well other than this list of enabled plugins
```plugins=(git postgres ubuntu rvm rails bundler atom)```
in my ```~/.zshrc``` file.
I haven't done anything.

[2015-10-06 07:00] jeremyramin commented on #12
@siklodi-mariusz This was the issue! I can finally not scroll on my system. I'll work on fixing this now.

[2015-10-06 07:23] jeremyramin commented on #12
@siklodi-mariusz The latest release (v0.6.4) should fix this issue. Please give it a try when you have a chance :)

[2015-10-06 07:26] siklodi-mariusz commented on #12
Great, thank you! I'll update and let you know.

[2015-10-06 07:32] siklodi-mariusz commented on #12
Yes it works. Great work @jeremyramin ! Thank you very much. You just made my working environment much better.

[2015-10-06 07:35] jeremyramin commented on #12
@siklodi-mariusz No problem. I'm glad you like the package. Sorry it took so long to get a fix, I've been rather busy lately.

[2015-10-06 09:31] Tiseno commented on #24
Both 1 and 2 would be almost equally good in my case and i see the problems with option one. Another option that would work would be to force close the active terminal and then start a new one in the new selected files directory. A con with option 2 would be that it would create a lot of terminals when working in multiple folders, a pro would be that history is kept.

All in all i think option 2 m

[2015-10-06 10:36] mobileloft opened #27 "press CTRL+C to quit"
press CTRL+C to quit
not work.
1.OS X EI Capitan
2.bash
3.
![image](https://cloud.githubusercontent.com/assets/11615631/10328566/eaffb014-6ce8-11e5-914f-3ba61dd3f505.png)

[2015-10-06 13:23] thblt opened #28 "Extended characters don't display correctly"
There seem to be some problems with extended/accentuated characters in terminal-plus (latest version on latest Atom). I'm reporting all of them here as I assume they may all be somehow related.

 1. Prompts using Powerline characters don't display correctly. Here's what my prompt (using agnoster theme from [oh my zsh](https://github.com/robbyrussell/oh-my-zsh) looks like in iTerm 2 :

    ![captur

[2015-10-06 17:04] jeremyramin commented on #27
If you could provide me with some more details, we can figure out why CTRL+C doesn't work for you.
1. What is your operating system?
2. What shell are you using? (bash, zsh, powershell, cmd)
3. What command are you running when you try to CTRL+C?

[2015-10-06 17:22] jeremyramin commented on #28
Thank you for your time and the report, I appreciate it. These characters are fundamental to using a terminal and should work. The characters issue is most likely related to the issues I'm trying to solve with #14. Terminal-Plus relies on some dependencies that don't particularly have support for languages other than English. My package sends the characters to the terminal correctly but they just

[2015-10-06 18:02] jeremyramin commented on #24
A similar issue with the option 2 is that if there are multiple terminals with the same directory, it would just open the first one which might happen to be a busy terminal.

[2015-10-07 02:19] cheunghy commented on #25
Thanks

[2015-10-07 07:43] Tiseno commented on #24
Right now the toggle doesn't care if the terminal is busy so it is consistent. If you are not planning on adding a 'Open new terminal if current terminal is busy' option for the toggle that is.

[2015-10-07 07:57] jeremyramin commented on #24
I guess you are right. I'll add option 2 to the list of enhancements and get back to you once it has been released.

[2015-10-07 13:46] msguerra74 opened #29 "Just a quick thanks!"
This isn't an issue, I just wanted to let you know that I've been searching a long time for the right terminal integration for Atom and this one seems to be the one I've been waiting for! I've tried several before and there was always something that kept me from continuing to use them, so I thought I'd pop in here to quickly say thanks for finally making one that actual works like the regular Term

[2015-10-07 16:00] jeremyramin commented on #29
I appreciate the compliment, it means a lot. Thank you for using my package. I'm glad you like it.

[2015-10-08 01:07] jeremyramin commented on #28
1. You should probably set your font in the settings to a powerline patched font. That character in vim is a unicode character that looks similar but isn't the same character used in powerline.
Setting: Font Family

2. After some testing in bash with a US English keyboard, I can insert the pipe character `|`. However accented characters such as `è` I can not type. Things like `option+n` don't work

[2015-10-08 08:08] yzhen123 opened #30 "terminal toolbar leak"
I use zsh as the terminal and it startups very slow, and sometimes maybe I double clicked those terminal icons without awareness, then create a new terminal, but some bugs happened... some terminal icon couldn't open but can be removed by contextmenu, but I find there are two toolbar in my terminal and sometimes there could be two terminal opened at the same time.

![image](https://cloud.githubuse

[2015-10-08 08:35] jeremyramin commented on #30
If you could provide me with some more information, I can get to fixing this.
1. What program are you using to get zsh? I believe you are on a Windows computer.

This could be caused by a bug where the terminal view get's stuck waiting for the zsh to load.

[2015-10-08 08:38] yzhen123 commented on #30
@jeremyramin I'm using msys2 and oh-my-zsh which slow down more,
here are my config:
[code]

[2015-10-08 10:19] davunderscorei commented on #12
@jeremyramin I can confirm the latest release works for me too. Thanks so much for your time and effort. What was the commit that you fixed it in?

[2015-10-08 12:34] thblt commented on #28
Thanks for your feedback !

  1. I was already using a Powerline patched font, and I  just found out the problem was elsewhere. iTerm2 and Apple Terminal both export `LANG` (on my computer, set to `fr_FR.UTF-8`).  `export LANG=fr_FR.UTF-8` in Terminal Plus solves the problem. I believe any locale with encoding would work. Although it would be an acceptable workaround to manually `export LANG` in s

[2015-10-08 12:46] thblt commented on #28
Quick update: `export LANG` also solved the problem with accentuated characters which can be typed with a single key. No progress on dead keys, though. (all dead keys, including ^ and `, do absolutely nothing).

[2015-10-08 13:31] brbrr opened #31 "High scrolling speed in terminal window"
Scrolling speed is very high. it's definitely higher than my terminal app speed.
both terminal app and terminal plus is using `/bin/bash`

Mac OS X 10.10.5
Atom 1.0.19
Terminal-plus 0.6.5

[2015-10-08 17:25] jeremyramin commented on #28
Wow, this is great work! I've been looking for the solution to this for a long time. On Unix systems I can modify the env before I make the terminal, which means I can get some of these in there. I think the most important from that table would be:
`LANG`, `LC_CTYPE`, `TERM_PROGRAM`, and `OLDPWD`. I could see about getting the dependency to declare itself as a xterm-256color if it supports it. Sup

[2015-10-08 17:30] jeremyramin commented on #12
@davunderscorei I'm glad it works for you. It was an issue with the term.js dependency of Terminal-Plus. I have a fork of the dependency so I can make changes and fix bugs as they arise.

Commit: jeremyramin/term.js#5d74aa1dc5a57303d48396b6ad3a6a6bdac5b842

[2015-10-08 17:35] jeremyramin commented on #27
I didn't see that you edited your original issue, thank you for the information. Later I'll try and reproduce this and let you know if I need anything else.

[2015-10-08 17:39] jeremyramin commented on #31
Scrolling speed is definitely high but this is because the Terminal-Plus dependency handles scrolling manually. Rather than having all of your history present in Atom, there are only enough elements to fill the terminal view. These elements then just have their text adjusted as you "scroll". A draw-back is that we lose smooth scrolling which makes the terminal scroll appear fast.

[2015-10-08 17:40] jeremyramin commented on #12
Now that two people can confirm that this issue has been fixed, I will now close the issue.

[2015-10-08 17:40] #12 closed

[2015-10-08 18:51] thblt commented on #28
Indeed, support for xterm-256 color seems perfect already. Here's vim with `TERM=xterm`:

![xterm](https://cloud.githubusercontent.com/assets/2453136/10376451/3aaf1120-6dfe-11e5-9286-d0133afe8934.png)

And vim with `TERM=xterm256`:

![xterm256](https://cloud.githubusercontent.com/assets/2453136/10376433/2bee539e-6dfe-11e5-9b57-e15110aa986e.png)

[2015-10-08 18:56] thblt commented on #28
Regarding other environment variables: I believe `OLDPWD` isn't to be set by the emulator, neither is `PWD`. In my table above, it is correctly set in Terminal Plus already, and seems to be updated by cd/the shell/whatever.

[2015-10-09 12:42] JostCrow commented on #27
I have the same problem and so is a collegue of mine.

1. Ubuntu 15.04 (collegue uses OSX)
2. Bash
3. python manage.py runserver

[2015-10-09 17:51] jeremyramin commented on #27
Ah so it's a problem with sending the SIGINT to python. I'll try and find a simple python script to run and figure out what is wrong.

[2015-10-09 18:19] jeremyramin commented on #28
Upon further review, I believe you are right. I shouldn't mess with `OLDPWD` or `PWD`.

[2015-10-09 20:20] jeremyramin commented on #28
It seems that just setting the `LANG` variable sets `LC_TYPE` as well. I can't seem to be able to get the system locale in node.js. Setting the locale to `en_US.UTF-8` allows me to type in multiple languages since it is all unicode. However, I worry that hardcoding the locale rather than having it read the actual locale could lead to issues.

[2015-10-09 20:29] jeremyramin commented on #30
I'll have to get msys2 and zsh on a Windows computer for testing. I'll keep you updated on my progress.

[2015-10-09 20:55] jeremyramin commented on #14
I offer my sincerest apologies for taking so long to get back to you. I believe I have fixed this in the latest release (v0.7.0) of Terminal-Plus. If you could, please give it a try and let me know if your issue has been fixed.

[2015-10-09 20:56] jeremyramin commented on #28
The latest release of Terminal-Plus (v0.7.0) should fix the language issues. Dead keys will have to be added in a later update, but at the very least international characters should be supported now. Please give it a try and let me know what you think.

[2015-10-09 21:01] mathewv commented on #14
Thanks for getting back to me. Unfortunately the IME still doesn't work (i.e. converting typed Latin characters to Japanese characters) when typing in the terminal, although CJK characters do render properly in it.

[2015-10-09 21:19] thblt commented on #28
I've just been trying on a Macbook Air running Ubuntu Gnome and everything works fine. The only difference is that Linux seems to make a strong distinction between the modifier key used to enter commands, and the one used to enter complex characters. That is, in Gnome, left option and right option are two completely different keys.

I believe this may in fact be a serious hint as to what's happeni

[2015-10-09 21:49] jeremyramin commented on #28
That error is an Atom thing. It insists on rebuilding Terminal-Plus with every update of the package or update to Atom. This is good when I update the dependency that needs to be built with node-gyp. I do not update the dependency often so most of the time it's pointless.

[2015-10-09 21:57] jeremyramin commented on #14
I might of misunderstood what the issue is. So the issue isn't for typing Japanese characters directly into the Terminal, but rather Latin characters converting to Japanese characters in the input field. I'm not entirely familiar with this process, but I get the feeling that the limitations of my package dependencies might make this hard to accomplish.

[2015-10-09 23:38] yzhen123 commented on #30
I find out double click on the terminal icon would trigger this bug, maybe create new tab and open current tab confused the plugin, hoping would help.

[2015-10-09 23:51] thblt commented on #28
I will try tomorrow with  the exact same keyboard in OSX and Linux (sorry my computer setup is a bit of a mess right now), but I can confirm the bug is related to the way key combinations are handled and not to the characters themselves: I created a modified keyboard layout, remapping h and Shift-G to `|`, and in both cases `|` show up perfectly. I can test with `{` and the like if you feel it may

[2015-10-09 23:59] jeremyramin commented on #28
Thank you for all of your support. You have been very informational and helpful with figuring things out on my end.

[2015-10-10 10:29] zmLGBBM opened #32 "Pty.js (actually is winpty) build fail on windows machine"
I'm using Windows 10 64bit with Visual Studio 2015 Ent.

**Terminal-plus** doesn't work because it failed to build `pty.js`. When trying to build `pty.js` manually using `node-gyp rebuild`, it keeps fail on `winpty`. That `winpty` is **really really** old.

Can this be fixed?

[2015-10-10 19:35] rasensio opened #33 "Uncaught Error: Cannot send message to terminated process"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.7.0

### Stack Trace

Uncaught Error: Cannot send message to terminated process

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-10 21:26] jeremyramin commented on #33
Fixed this in v0.7.1

[2015-10-10 21:31] jeremyramin commented on #32
Even if pty.js fails to build, I provide prebuilt binaries that are automatically used. On another note, `winpty` is very old. I am running off of my own fork and I've considered updating to the latest version and fixing any errors that would result. It's on the list of things to do.

[2015-10-10 23:58] mathewv commented on #14
Sorry if I wasn't clear enough in the OP, but yes, that's the issue. I hope it isn't too much trouble for you to implement, since I'm not familiar with what goes into making things compatible with IME software either.

[2015-10-11 11:53] zmLGBBM commented on #32
@jeremyramin Really great to hear that.

Yes, I've noticed you provided prebuilt binaries, but it's for previous version of **atom**, and since I'm using 1.0.19, it requires me to rebuild one for the newer version. Well, then it fails.

Anyway, thanks for the package!

[2015-10-11 12:00] zmLGBBM opened #34 "Could be nice to add direct calling to the REPLs"
First of all, it's really nice to have a terminal running down on the screen. However, it would be really convenient if I can directly open the REPLs (**python**, **ruby**, etc.), like `SublimeRepl`, and not have to type the instruction into the terminal itself.

[2015-10-11 19:11] jeremyramin commented on #32
Sorry to hear that. Do you happen to have a copy of the error it displays when the rebuild fails?

[2015-10-11 19:13] jeremyramin commented on #34
This can be done in one of two ways in the Terminal-Plus settings:
1. Change `Shell Override` to the REPL of your choice.
or
2. Change `Shell Arguments` to the REPL of your choice, assuming the REPL exists in your PATH directories.

[2015-10-11 19:35] jeremyramin commented on #31
@brbrr Please give v0.8.0 a try, I attempted to implement finer scrolling. Hopefully, it is to your liking.

[2015-10-11 19:36] jeremyramin commented on #30
Thanks for informing me of this. I will try and disable double clicks on the terminal icon to prevent this issue.

[2015-10-12 00:02] jeremyramin commented on #27
Upon further review, I have determined this to be an issue that only affects bash prompts. I'm currently exploring why only bash is affected. Any input from third parties is welcome. I noticed that I can get bash to respond to `Control+C` correctly if I switch to another shell (zsh for example) and then call `exec -l bash`.

[2015-10-12 04:11] jeremyramin commented on #30
v0.8.1 should be patched to prevent the double click on status icons. Please give it a try and let me know if this fixes your issue.

[2015-10-12 08:58] thblt commented on #28
I haven't done the keyboard test yet, but here's already a way to correctly set the locale on OSX:

[code]

leaving only the encoding hardcoded. Such a script may be `source`d each time a new terminal is created.

I believe it will work reasonably well across OSX versions (`$HOME/Library/Preferences/.GlobalPreferences.plist` have been available since Jaguar, `plutil` since Puma. Recent versions of

[2015-10-12 09:55] brbrr commented on #31
@jeremyramin I've check 0.8.1. and it's much better. but I prefer slower speed if it's possible. but anyway - thanks!

[2015-10-12 20:06] jeremyramin commented on #28
Node.js actually makes it quite simple to execute a command and work with it's output. If plutil returns JSON then I can parse it and grab what I need.

[2015-10-12 20:36] jeremyramin commented on #34
Did this work for you? If so, please close the issue.

[2015-10-12 20:40] pierrenel opened #35 "Applying themes?"
How does one apply the themes that are in the repo? I can't seem to find the instructions anywhere - I've even tried dropping some less/css into my Atom Stylesheet - but that didn't change anything.

Thanks!

[2015-10-12 20:45] jeremyramin commented on #35
@pierrenel You can apply themes in one of two ways:
1. Navigate to the Terminal-Plus settings (`Preferences > Packages > Search 'Terminal-Plus'`) and choose one of the built-in themes under the `Theme` dropdown.
2. Use the [template provided in the README](https://github.com/jeremyramin/terminal-plus#themes) to create your own theme.

[2015-10-12 20:48] pierrenel commented on #35
Yay thanks so much for the info, all better now.

[2015-10-12 23:32] jeremyramin commented on #31
So I decided to try another algorithm in v0.8.2. Your feedback on the the scroll speed would be greatly appreciated. Sorry, I'm persistent.

[2015-10-12 23:33] jeremyramin commented on #35
No problem. Hope you like Terminal-Plus.

[2015-10-12 23:33] #35 closed

[2015-10-13 07:13] yzhen123 commented on #30
@jeremyramin  good job! it's fixed now.

[2015-10-13 07:41] yoorek opened #36 "don't force to rebuild packages on every update"
it would be nice if terminal-plus did not force atom to rebuild packages and restart on every update (which is quite often)

[2015-10-13 14:59] zmLGBBM commented on #34
@jeremyramin Sorry if I wasn't clear, I actually meant to open each with their unique **hotkey** or something.

For example, `alt+p` opens `python`, `alt+r` opens `ruby`, `alt+c` opens normal console etc..

So I'm wondering if there is a way to assign the `open console/terminal` commands to different key sequences, and pass `args` to that command so that opens the indicated repl.

[2015-10-13 15:36] jeremyramin commented on #30
Great! Closing this issue now that it has been fixed.

[2015-10-13 15:36] #30 closed

[2015-10-13 15:55] jeremyramin commented on #34
@zmLGBBM Ohh okay. Sorry, I did misunderstand. That feature does not currently exist and would have to be added. I could see this being implemented in several ways:

1. Add a configuration file for custom buttons in the toolbar that run custom commands. (This would let you program the REPLs you want and let you put commands you use frequently in the top bar.)

2. Add a configuration file for custo

[2015-10-13 15:59] jeremyramin commented on #36
@yoorek My apologies, I realize I have been releasing a lot of updates lately. If it were up to me I would not have Atom rebuild Terminal-Plus every time. Atom is actually the one that thinks that Terminal-Plus needs to be rebuilt every time I release an update. I need to figure out why this happens and fix it, or let the Atom team know so they can fix it on their end.

[2015-10-13 16:27] zmLGBBM commented on #34
@jeremyramin Great! I think some of the `sublime repl` plug-in's features are really cool, but don't know if they can be implemented in `atom`.

Thanks for the package btw!

[2015-10-13 16:44] jeremyramin commented on #34
@zmLGBBM I'll take a look at `sublime repl` before I get around to adding this to get a better idea of what you are looking for.

No problem, I'm glad you like it.

[2015-10-13 17:32] origin1tech commented on #36
I'm assuming the rebuild simply re-installs the npm packages so I'm guessing all its's doing is re-pulling the pty.js file which is the offender btw. Don't know enough about how Atom handles its published packages but this is what appears to be happening. Some how on the upgrade the pty.js package is not getting updated it can't find it when Atom spins back up and hence the need for rebuild. You m

[2015-10-13 20:26] jeremyramin commented on #36
@origin1tech Thank you. I am aware that this is caused by the pty.js dependency that relies on native modules.

You are right. Every update to Terminal-Plus, Atom will call call `npm install` on the dependencies to update them. I realize that this is a frustrating issue so I will get fixed as soon as possible

[2015-10-13 20:40] origin1tech commented on #36
Right, I figured as much, that you were aware that is. think the key thing and now that I read back my post I should have been more clear. I was more or less chiming in so that others might have an understanding of what was transpiring and that since this relies on the native mod. it may be a bit tougher task to resolve than just some typical package if that makes sense.

In the meantime I would s

[2015-10-13 21:13] origin1tech commented on #36
btw have you tried simply adding a postnatal script?

     { scripts: { “postinstall”: “node-gyp rebuild” } }

wonder if Atom would respect that. I simply don’t know.

If not this may be difficult to fix because I don’t really see much control for the dev in the upgrade/install process itself within Atom. At least not in the API docs.

anyway just though I’d mention the post install used it before

[2015-10-14 02:10] jeremyramin commented on #36
Funnily enough, that would save me an email or two as well. I will add a warning to the README that links to here.

Thank you, that means a lot.

     { scripts: { “postinstall”: “node-gyp rebuild” } }
wonder if Atom would respect that. I simply don’t know.

I have not tried this. I will have to get on a computer that doesn't have the requirements for node-gyp to test different script settings. Co

[2015-10-14 02:11] origin1tech commented on #36
lol that’s the very reason I didn’t just test it for you ha ha.

Regards,

Carey Hazelton
chazelton@origin1.com <mailto:chazelton@origin1.com>
Confidentiality Notice: The information contained in this electronic transmission, is privileged and confidential and is intended only for the recipient(s) named above. If the reader of this message is not the recipient(s) named above, or an authorized agen

[2015-10-14 02:23] #29 closed

[2015-10-14 09:01] danpantry opened #37 "how can I change the default terminal?"
I'm on a Windows machine, so `terminal-plus` defaults to using Windows Powershell. I have Git Bash installed on this machine and I'd like to use that as my terminal instead. How can I achieve this? There's no mention of this scenario in the docs.

Thanks!

[2015-10-14 09:22] danpantry commented on #37
Never mind - this is pretty simple. Open the Packages/Settings window, click Setting then `terminal-plus`. Then change the Shell Override setting.

[2015-10-14 09:22] #37 closed

[2015-10-14 19:15] jeremyramin commented on #37
Understandable considering the lack of documentation for the setup of Atom. Welcome to the community and I hope you like my terminal package.

[2015-10-15 15:00] jibreel commented on #33
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.8.2

### Stack Trace

Uncaught Error: Cannot send message to terminated process

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-15 15:01] jibreel opened #38 "Uncaught Error: Cannot send message to terminated process"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.8.2

### Stack Trace

Uncaught Error: Cannot send message to terminated process

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-15 19:07] jeremyramin commented on #38
Duplicate of #33

[2015-10-15 19:07] #38 closed

[2015-10-15 19:08] jeremyramin commented on #33
@jibreel Thank you for reporting this and letting me know that this is still an issue. I will take a look at it soon and let you know when I release a version that has this issue fixed.

[2015-10-16 03:11] jeremyramin commented on #33
v0.9.0 includes a different method of making sure that this error does not show up anymore. Hopefully I did it right this time.

[2015-10-16 03:13] jeremyramin commented on #27
I believe this has been fixed v0.9.0. Please give it a try and let me know if it works for you.

[2015-10-16 03:23] jeremyramin commented on #32
I updated winpty to the latest version from . You should be able to compile with it now. Tested it on Windows 8 with Visual Studio 2013.

[2015-10-16 03:25] jeremyramin commented on #28
Just to check with you, is your issue fixed now or do you really need the dead key implemented?

[2015-10-16 05:42] zmLGBBM commented on #32
@jeremyramin Great! It works. I can now see the `winpty.dll` and `pty.node` in the `Realese` folder. Thanks.

Which commit does this related to?

[2015-10-16 05:53] zmLGBBM commented on #34
@jeremyramin I've tried the `Shell Override` setting but it does not work.

To reproduce this:
1. Go to `Terminal-Plus` settings and type `C:\Windows\System32\cmd.exe` in `Shell Override`.
2. Try to open terminal by click the little `+` button in the bottom left corner.
3. Open `Developer tools`, and here's the error it reported:

[code]

And it seems not helpful to clear the override setting, it

[2015-10-16 05:57] jeremyramin commented on #34
That is not good. This could be a result of the recent update to winpty. I will have to try this out and figure out what is wrong.

[2015-10-16 05:58] jeremyramin commented on #32
@zmLGBBM If you want to see updates to the pty.js dependency, you'll have to look at my fork of the repository.

[jeremyramin/pty.js](https://github.com/jeremyramin/pty.js)

[2015-10-16 06:30] zmLGBBM commented on #32
@jeremyramin Yep, is that the one you authored on Sep 10?

https://github.com/jeremyramin/pty.js/commit/832c3a34c2e3ba5cc3c7add87320560dea77ecff

[2015-10-16 06:32] jeremyramin commented on #32
My apologies, I should have been more clear. It is jeremyramin/pty.js@f7d2eeeb03d8de2f94df0fe3557abf6025f45cba. I switched from the previously used rpeters/winpty fork to the main repository rprichards/winpty.

[2015-10-16 06:42] zmLGBBM commented on #32
@jeremyramin Thanks for the hint. It should occur to me to check other branches.

[2015-10-16 07:29] jeremyramin commented on #36
Apparently, Atom stores the location of every compiled node file in my dependencies... Including the ones from other operating systems that I provide. Then it attempts to require every single one of these native modules and when it fails to do so it asks people to rebuild Terminal-Plus. I'm currently in the process of fixing this.

[2015-10-16 07:53] jeremyramin commented on #34
I too experienced this issue on my first launch and then it went away. I'm not sure how to get it back, but I hope this does not happen for everyone...

[2015-10-16 08:08] JostCrow commented on #27
For me it is working now.

[2015-10-16 08:09] jeremyramin commented on #36
v0.9.1 should fix this issue. If you still experience this issue, then Atom may have needed this update to adjust to the new locations of the prebuild binaries. I'll leave this issue open just incase the issue persists for the next release. If it does, then people will need  to reinstall Terminal-Plus to get rid of it.

[2015-10-16 08:10] jeremyramin commented on #27
@JostCrow That's good to hear. Sorry it took so long to get a fix.

[2015-10-16 08:12] jeremyramin commented on #32
Issue fixed as of v0.9.0

[2015-10-16 08:12] #32 closed

[2015-10-16 08:14] jeremyramin commented on #31
This issue has been fixed as of v0.8.2

[2015-10-16 08:14] #31 closed

[2015-10-16 08:20] brbrr commented on #31
@jeremyramin Sorry, forgot to give a feedback. Now it's awesome, thanks!

[2015-10-16 08:21] yoorek commented on #36
just updated with v0.9.1 and it worked smoothly - terminal-plus available right after update (was disabled before), no rebuild forced by atom, no restart. Thanks!

[2015-10-16 08:22] jeremyramin commented on #36
Oh good! That's truly great to hear. Thanks for sticking with Terminal-Plus despite the issue.

[2015-10-16 09:00] zmLGBBM commented on #34
@jeremyramin Well, it kinda work now. Really strange problem.

[2015-10-16 09:00] jeremyramin commented on #34
@zmLGBBM Have you seen it again or only that time?

[2015-10-16 09:24] zmLGBBM commented on #34
@jeremyramin I think I find out what caused this bug. It's because invalid (to os, but not atom) folder were opened.

To reproduce this:
1. Open a fresh atom, with no file or folder opened
2. Open `Settings panel`
3. Make sure the title of the window says: "atom://config - atom"
4. Try to open `Terminal-plus`
5. Boom, you got a bug ;)

[2015-10-16 09:27] jeremyramin commented on #34
@zmLGBBM Oh you're right, that is probably it. I'll have to filter out this path when setting the present working directory. I believe this puts Linux and Mac users at the root of their system since it is an invalid path. For Windows, it causes that 267 error. Thank you!

[2015-10-16 09:37] zmLGBBM commented on #34
@jeremyramin No problem, happy to help with this amazing package!

[2015-10-16 11:22] AbdullahAli opened #39 "Can't clear sceen"
Not really an issue, more of a feature request.

It would be great to add a shortcut to clear the screen, ie: cmd-k to clear the screen

For example, if I am in a rails console, I can't use `clear`, so the shortcut would be great in such a scenario

Thank you

[2015-10-16 11:32] brbrr opened #40 "terminal task takes cursor focus"
While executing rspec tests (with logging in console) terminal taking focus from editor to terminal window,  so it's kinda hard to type with open terminal window.

[2015-10-16 12:42] thblt commented on #28
I just tested with version 0.9.1, $LANG is correctly set on OSX, and some keys now work (namely, accentuated letters). There are still a few bugs, though:

 1. On OSX only, ~, {, [, etc, are still broken. These are the characters that are typed as option-something. It seems
 2. I believe dead keys are important. On a French keyboard, and some other non-US keyboards, `^` (regex start-of-string) and

[2015-10-16 12:45] thblt commented on #28
Btw : it seems option-something keys send control codes instead of characters. Typing æ, œ or ~ (option-a, o and n, respectively) in cat displays `^[a^[o^[n`.

[2015-10-16 14:11] JestonBlu opened #41 "Crash on load after updating to latest version"
Cannot read property 'scripts' of null in C:\Users\blubaj\.atom\packages\terminal-plus\package.json
Hide Stack Trace
TypeError: Cannot read property 'scripts' of null
  at normalize (C:\Users\blubaj\AppData\Local\atom\app-1.0.19\resources\app.asar\node_modules\normalize-package-data\lib\normalize.js:25:11)
  at Function.module.exports.Package.normalizeMetadata (C:\Users\blubaj\AppData\Local\atom\a

[2015-10-16 16:48] JestonBlu commented on #41
Did not have the correct dependencies installed.

[2015-10-16 16:48] #41 closed

[2015-10-16 20:57] jeremyramin commented on #40
@brbrr I noticed that and I actually released a new version that should fix this issue. Are you on v0.9.1?

[2015-10-16 21:07] jeremyramin commented on #39
v0.10.0 has this now. Please give it a try and let me know if it works for you.

[2015-10-16 21:08] jeremyramin commented on #27
Closing this issue as it has been resolved as of v0.9.0

[2015-10-16 21:08] #27 closed

[2015-10-16 21:08] #33 closed

[2015-10-16 21:09] jeremyramin commented on #34
v0.10.0 should fix the 267 error code.

[2015-10-16 21:15] jeremyramin commented on #24
v0.10.0 release has something similar to what we discussed. In the options, you can set terminals to map to files or folders. Additionally, you can set if you want a new terminal to be created if one does not already exist. I believe this gives you more control over how often you want the terminal to switch. Please give it a try and let me know what you think.

Options to look at: `Map Terminal To

[2015-10-16 21:17] jeremyramin commented on #13
Closing this issue since I haven't seen or heard of any performance issues.

[2015-10-16 21:17] #13 closed

[2015-10-16 21:58] brbrr commented on #40
Im on 0.9.1. Mac OS X, bash

[2015-10-16 22:05] jeremyramin commented on #40
Well that is odd. That should have been fixed by v0.9.0.
![example](https://cloud.githubusercontent.com/assets/3977054/10554330/4e6286ba-7417-11e5-9861-b7bb7b01117c.gif)

[2015-10-17 05:11] jeremyramin commented on #40
Please update to the latest version (v0.10.0) and let me know if this issue is still there. This sounds like it would interrupt your workflow often so I would like to fix it as soon as possible.

[2015-10-17 05:11] jeremyramin commented on #36
This issue has been resolved as of v0.9.0

[2015-10-17 05:11] #36 closed

[2015-10-17 05:45] jeremyramin commented on #28
Oh you're right, it shouldn't overwrite the LANG variable if it exists. I'll make that adjustment and have a release for it soon. As for implementing the dead keys, I have created a way to differentiate between the left alt key and right alt key (AltGr). However, I'm not sure where to go from there from the Javascript standpoint. It could be as simple as insert a certain unicode escape character t

[2015-10-17 09:45] madranet opened #42 "Resizing Broken in 0,10,0"
Hi.

The latest version 0,10,0 has broken the ability to resize the terminal window by dragging.

*[OSX 10,9,5. Atom 1,0,190]*

[2015-10-17 09:52] madranet commented on #40
I was seeing a similar thing with previous version, working with [Hugo](http://gohugo.io)'s 'watched folder' server settings. Every time I hit save, the cursor would jump into the terminal pane.

I can confirm it's fixed [for me anyway] in 0,10,0

[2015-10-17 09:58] madranet commented on #42
UPDATE: This may be an intermittent or time-related problem. I had it happen  immediately after updating to 0,10,0 and it persisted through a reboot of Atom. However, when I returned to my open Atom window, after penning the above bug report, the terminal window was resizeable-by-dragging again. I quit Atom and re-opened it and the problem returned.

[2015-10-17 10:32] madranet commented on #42
Back again!

I've sussed what the problem is: The terminal pane remains non-resizeable until after a terminal command has been issued. So, as it's a very minor cosmetic issue, I'll mark it as closed.

![atomterminal](https://cloud.githubusercontent.com/assets/669658/10558302/a6ca16aa-74c2-11e5-920e-ac9818aabbfb.gif)

[2015-10-17 11:55] thblt commented on #28
I'm not sure I understand how  dead keys may relate to the option-something keys. To me they're two different problems. I also don't believe that any of these problems has to do with differentiating between left and right option key on a OSX keyboard. Since Mac stuff and international keyboards can be quite tricky, I'll try to explain the two problems without assuming any knowledge of weird keyboa

[2015-10-17 14:57] jeremyramin commented on #42
Actually, I would like to keep this open. I want you to be able to resize when ever you want. Thank you for the gif demonstrating the issue and the nice report.

[2015-10-17 15:35] brbrr commented on #40
Now it's definitely fixed for me. Thanks @jeremyramin

[2015-10-17 15:35] #40 closed

[2015-10-17 15:43] jeremyramin commented on #28
At the time I visualized the dead keys and keys like `option+a` as a enhancement given the way the dependency is written. A little explanation into what's going on:

I use a dependency called Term.js that handles the front end task of presenting a terminal. The dependency presents the output of the shell and sends keypresses to the shell. The person who wrote this decided to use Javascript keypres

[2015-10-17 15:51] jeremyramin commented on #40
@madranet Thank you for confirming that it has been fixed.
@brbrr You are welcome.

Thank you both for using Terminal-Plus.

[2015-10-17 16:22] jeremyramin commented on #42
v0.10.1 should fix this. Please let me know if the issue still persists after the update.

[2015-10-17 19:25] Lokidottir commented on #9
:+1: would really appreciate this, takes a lot of horizontal space otherwise.

[2015-10-17 20:29] jeremyramin commented on #28
I just had an idea. I know this might not be ideal but I can set up a command to display a prompt asking for input. That input box would be able to recognize all of the `alt+(key)` and dead keys since it would just be your system typing into an input box. Then when you press enter the prompt would insert the text into the terminal.

[2015-10-18 06:27] jeremyramin commented on #14
@mathewv I want to offer my apologies. I was not able to implement IME support directly inside of the terminal. However I believe I have found an alternative solution that hopefully is not to cumbersome to use.

Please take a look at v0.11.0 and the new `Insert Text` feature. There is a keyboard icon in the top left that presents an input box for you to type in. There I believe you should be able

[2015-10-18 06:51] jeremyramin commented on #28
v0.11.0 has the feature I just described. There is now a keyboard icon in the top left that presents an input box for typing special characters that the terminal does not respond to. For now, this could work if you only needed the accented characters and other special characters for quick commands. Please give it a try.

[2015-10-18 20:04] kn9ts opened #43 "Failed to activate the terminal-plus package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.11.1

### Stack Trace

Failed to activate the terminal-plus package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-18 20:06] jeremyramin commented on #43
@kn9ts You might want to reinstall Terminal-Plus. It seems like you did not get all of the dependencies installed properly.

[2015-10-18 20:11] #39 closed

[2015-10-18 21:07] madranet commented on #42
Yep. Working fine now.

Cheers.

[2015-10-18 21:08] #42 closed

[2015-10-18 21:19] kn9ts commented on #43
Ok. Let me do that and try see if the same errors spawn again

[2015-10-18 21:21] Zeioth commented on #34
I don't know if this can be done but be able to write commands directly could be the solution. For example:

[code]

This way you would be able to create toolbar buttons  or keyboard shortcuts for anything.

This is my particular case. I want to run a C# compiler from a toolbar button:

[code]

[2015-10-18 22:20] jeremyramin commented on #34
@Zeioth I will probably have something along those lines with a CSON file. I'm still deciding the best way to implement this. What I have so far:

[code]

The button would be an optional field. This would let people define an atom-command and/or a button for their custom commands.

I see that you had a `iconset` field. Iconsets would mean I would have to include the major icon sets with my project

[2015-10-18 23:15] Zeioth commented on #34
The code I pasted is from [flex-tool-bar package](https://github.com/cakecatz/flex-toolbar). This package is a configuration tool for [tool-bar](https://atom.io/packages/tool-bar) and is already prepared to use some predefined iconsets, so you don't have to worry about it.

[2015-10-18 23:19] jeremyramin commented on #34
Oh okay. Then in your case you would just leave the button and languages option out and define the custom atom-command. Then in the flex-tool-bar package you could just use the command you defined in Terminal-Plus (i.e. `terminal-plus:compile-project`).

[2015-10-18 23:31] Zeioth commented on #34
Yes that is. I think this is the only way atom allows to do it. That sucks because this way you have to implement every command in Terminal-Plus. It would be cool to be able to do something like.

'''
terminal-plus:run-command -> string
'''

Where string is the command you want to directly run.

'''
terminal-plus:run-command -> string
'''

Where the string is the command you want to run.

[2015-10-18 23:39] jeremyramin commented on #34
Unfortunately you are right. Atom does not allow for me to specify input for the package commands. Though I already have an idea for writing this that would not be too bad as far as implementing the every command goes. I will not know if this is even possible until I get a chance to write it out.

[2015-10-19 00:30] zmLGBBM commented on #34
@jeremyramin @Zeioth Well, since atom would not let you to specify input for commands, why not just have a config file in the root of the project you're working on, and when you run `terminal-plus: run-command` it will read that config file and give you a list of things that can be done, just like how `Visual Studio Code` does with `tasks`.

I think that should be better since now you don't have t

[2015-10-19 00:42] jeremyramin commented on #34
@zmLGBBM So basically implement one command that displays the possible defined `tasks` for a project? I guess that could work but that would draw away from your request for letting you define `alt+p` as let's say `exec python`.

Either way, you make a valid point that every project has a different file to compile and therefore a different command to run. I could see there being a global config fil

[2015-10-19 01:20] zmLGBBM commented on #34
@jeremyramin Well, that should, but can be solve with this too. It's a great idea to have a `terminal-plus.global.cson` in the user config directory that holds all global tasks that a user would like to run, and a `terminal-plus.project.cson` in the root of each project.

Like in `global.cson`:
[code]

And now in `project.cson`:
[code]
This **two settings** things works well with **Sublime** users

[2015-10-19 08:27] AbdullahAli commented on #39
thank you for sorting that out so quickly - works really nicely! :tada: @jeremyramin

[2015-10-19 10:13] AbdullahAli opened #44 "Find in terminal"
Would be awesome if you can enable a find method inside the terminal

the cmd-f is bound to finding in atom itself, rather than the terminal

[2015-10-19 10:52] thblt commented on #28
Just a quick response for now --- I need to do some research to be more specific, but won't have time until tonight or tomorrow.

First and foremost, I wasn't offended at all, just trying to make myself clear. Please accept *my* apologies if I sounded harsh — that really wasn't my intention. These are *your* bug reports, and you're of course free to label them the way you feel. I was trying to avo

[2015-10-19 19:54] jeremyramin commented on #44
Might not be able to get to this one as quickly as the terminal clearing feature. I have quite a bit of work accumulated as well as other feature requests that have been waiting a long time.

With that being said, I can definitely still add this one to the list and get to it when I have time. As always thanks for using Terminal-Plus.

[2015-10-19 20:11] jeremyramin commented on #43
Did that work for you?

[2015-10-19 20:27] jeremyramin commented on #28
I'm glad that this is the case. I wanted to avoid a misunderstanding as well.

As always, thanks for the detailed report. It helps a lot with figuring out exactly what you need. As for the custom key mapping, I think this would make for a great addition to Terminal-Plus. I will have to think about how to implement it and I won't know if it is possible until I attempt it. I went through the links y

[2015-10-20 03:42] abdulbahajaj commented on #23
Happened again ?

    TypeError: path.dirname is not a function
    at TerminalPlusView.module.exports.TerminalPlusView.forkPtyProcess      (/Users/h/.atom/packages/terminal-plus/lib/view.coffee:16:3)
    at TerminalPlusView.module.exports.TerminalPlusView.displayTerminal    (/Users/h/.atom/packages/terminal-plus/lib/view.coffee:88:5)
    at /Users/h/.atom/packages/terminal-plus/lib/view.coffee:16

[2015-10-20 03:46] jeremyramin commented on #23
@abdulbahajaj Really? It is definitely a function. I'm using it right now and it works. Please tell me:
1. Your Atom version
2. Your Terminal-Plus version
3. Your operating system
4. Any other details you think might be relevant
I see this was happening when you first started launching Terminal-Plus.

[2015-10-20 04:01] jeremyramin commented on #23
I guess it is not an issue anymore.

[2015-10-20 04:01] #23 closed

[2015-10-20 06:31] kn9ts commented on #43
Yeah it did work for me, it re-installed flawlessly.

| Eugene Mutai [Software Engineer | Andela] <http://andela.com/>
| Twitter/Github: @kn9ts <http://www.twitter.com/kn9ts>
| About me: http://kn9ts.github.io/community-resume/ <http://kn9ts.github.io/community-resume/>

[2015-10-20 06:32] jeremyramin commented on #43
That is good to hear. Thank you for using Terminal-Plus. I will now close this issue.

[2015-10-20 06:32] #43 closed

[2015-10-20 06:37] kn9ts commented on #43
Ok! Cool. Thanks for the follow up.

| Eugene Mutai [Software Engineer | Andela] <http://andela.com/>
| Twitter/Github: @kn9ts <http://www.twitter.com/kn9ts>
| About me: http://kn9ts.github.io/community-resume/ <http://kn9ts.github.io/community-resume/>

[2015-10-20 08:56] Sam2304 opened #45 "Create custom Theme"
I'd like to build a Monokai theme for Terminal-Plus but I'm not sure where to start, could you point me in the right direction?

I've created a `monokai.less` under the `themes` folder, and imported it in `themes.less`, but I don't seem to get an option from the settings pane in atom.

Also, where do I define text colours?  Do I just need to do that from the settings panel?

Thanks in advance, I l

[2015-10-20 18:47] jeremyramin commented on #45
@Sam2304 I'm glad you were able to find what you needed. On a side note, themes have to be added to the settings section of Terminal-Plus manually. Easier just to use the Atom Stylesheet.

At any rate, thank you for using Terminal-Plus. Closing this issue as it has been resolved.

[2015-10-20 18:47] #45 closed

[2015-10-21 00:17] NicholasTD07 commented on #45
@jeremyramin is there a way to add customized theme in the settings rather than modifying the package itself directly? I mean, if I modify the package itself to add a theme and if there's an update, it will override my modification, right?

[2015-10-22 14:51] JohnRoach opened #46 "Process Titles gets stuck"
I was able to repeat this bug by doing the following:

1. Add three new tabs
2. While hovering on one of the terminal tabs wait for the title to show up.
3. Right click on the terminal and close it.
4. The title will remain and drive you mad... You will need to restart Atom.

Atom Version: 1.0.19
Plugin Version: 0.11.1
OS: Mac

![Image of the annoying SSH tip](https://www.evernote.com/l/AOd9OMKc_J

[2015-10-22 14:54] JohnRoach opened #47 "Search in for Terminal"
I sometimes have to scroll through a lot in the terminal. It would be most helpful if we can do search in the terminal.

[2015-10-22 20:16] jeremyramin commented on #46
@JohnRoach I realize that this can be quite irritating. I know it would bother me too. I'll take a look and try to have a fix out as soon as possible.

[2015-10-22 20:20] jeremyramin commented on #47
Duplicate of #44. I have taken note that you need searching in the terminal as well. Please follow #44 for updates on the status of the feature. I will notify that issue thread once there is a release containing the ability to search.

[2015-10-22 20:20] #47 closed

[2015-10-22 23:13] JohnRoach commented on #44
+1

[2015-10-23 02:09] suzetmk opened #48 "View-maximize failure with Vertical File Tabs"
Hi.
I'm a newbie about atom, but now I'm a junkie of atom and this wondorful plugin.

So, my problem is:
with following "Vertical File Tabs in Atom" style,
Terminal-Plus's maximize/normal view changing doesn't work correctly.

Vertical File Tabs in Atom
https://gist.github.com/jasesmith/114da4e5310eda6238f0

![replication](https://cloud.githubusercontent.com/assets/14934122/10682785/292db258-7975-

[2015-10-23 02:44] jeremyramin commented on #48
@suzetmk Thank you for reporting this. I'll take a look and notify you once I release a fixed version.

[2015-10-23 04:45] jeremyramin commented on #48
I had a chance to look at this, so I'll explain what is happening:

Terminal-Plus is displayed as a panel attached to the bottom of Atom. In the same plane is the section containing the tab-bar view. Atom prevents the section containing the tab-bar from shrinking below the size to display the tab-bar. This results in Terminal-Plus being stopped at the last tab in your tab-bar view. Terminal-Plus w

[2015-10-23 06:17] jeremyramin commented on #46
As of v0.11.2, this issue should be fixed. Please let me know if you still see the tooltips after closing your terminal. If not, then we can close this.

[2015-10-23 06:41] suzetmk commented on #48
Thank you for your quick reply.

Yes, terminal-plus as tab should be best resolution for me.
Please continue implementation for issue #9.

[2015-10-23 06:54] suzetmk opened #49 "Signaling (Ctrl+c) doesn't work for busy process"
Hi, @jeremyramin.

when I exec a busy foreground process (e.g. cat /dev/zero) from terminal-plus,
then signaling with Ctrl+c becomes not working.

- Ctrl+z works (but not good responce and sometimes it doesn't work).
- Ctrl+c to not busy process (like less or top) works.

Atom Version: 1.1.0-beta.0-ad60d7b
Terminal-plus Version: 0.11.1
OS: Ubuntu

This might be most critical issue for me to use te

[2015-10-23 07:00] suzetmk commented on #9
+1

[2015-10-23 19:09] jeremyramin commented on #49
@suzetmk I know Terminal-Plus had this issue before, but it should have been fixed. I'll have to get a machine running Ubuntu to test it myself. Thanks for reporting this.

[2015-10-24 04:56] jeremyramin commented on #48
No problem, closing this issue as it is being handled by another issue.

[2015-10-24 04:56] #48 closed

[2015-10-24 22:31] jeremyramin commented on #46
Closing this issue as of v0.11.2

[2015-10-24 22:31] #46 closed

[2015-10-24 22:44] jeremyramin commented on #9
Sorry for the delay. v0.12.0 now has support for tab views! Just make a terminal as usual then drag your status icon to the tab-bar and it will become a tab. If the status icon has a name (via status-icon rename) then it will adopt that name for the tab.

[2015-10-25 00:17] objectkit opened #50 "Different command line and command prompt text colours?"
Does terminal-plus provide the means to display different colours for the command prompt text e.g. _host:path:user$_ and the command line text e.g. _emacs -q --no-splash -f doctor_? I know the text colour can be changed outright, and perhaps I'm missing an option already there, but I'd like to be able to have both these text segments different colours to tone down things a little.

(Seriously thou

[2015-10-25 02:39] jeremyramin commented on #50
@objectkit Prompt coloring would have to be done on your end since I have no control over that. Your prompt is set by the `shell` you are running.

If you know which `shell` you are using, then you can customize your prompt with the profile file.

**Terminal-Plus Default Shells:**
Windows: Powershell
OS X: Bash
Linux: Varies (Usually Bash or Zsh)

Try searching around for tutorials on custom color

[2015-10-25 09:11] JostCrow commented on #9
Thanks. I tested it as soon as I saw it. It looks great and works fine. Thanks.

[2015-10-25 12:14] objectkit commented on #50
@jeremyramin Thanks for getting back to me! I guess I just assumed that as terminal-plus is representational of the shell (Bash in my case) as opposed to a shell instance itself, and that as .less styling is used by the package to display text, that it would be possible to somehow parse the shell text state as it changes by using a regex, and assigning a span to the command prompt portion which co

[2015-10-25 16:24] Lokidottir commented on #9
Thank you, really grateful for this feature.

[2015-10-25 19:20] jeremyramin commented on #50
Terminal-Plus launches a full shell instance and then pipes the output directly to a terminal emulator that makes the output display nicely as HTML. Since it makes no distinction between the prompt and the command, it would be difficult to have it start making a distinction. Not to mention that it would have to apply the regex matching through all output, increasing the amount of computation per l

[2015-10-25 19:21] jeremyramin commented on #9
Glad you guys like it. It is experimental for now since I'm finding bugs here and there. Please use it extensively and report back if you find any issues.

[2015-10-25 21:08] objectkit commented on #50
Fantastic info @jeremyramin - what a nice workaround - respects! By creating the ````~/.atom/.tprc```` file with the ````export PS1="\e[36m$PS1\e[97m"```` content, and then later playing around with some klutzy coloured PS1's... it works! I found [Bash $PS1 Generator2.0](https://www.kirsle.net/wizards/ps1.html) to be a bit of fun. If anyone else finds this, make sure to save your file as UTF-8 wit

[2015-10-25 21:08] #50 closed

[2015-10-26 01:38] jeremyramin commented on #49
I confirmed that this is an issue so I will continue to work on it when I have a chance.

[2015-10-26 09:51] GrayOverride opened #51 "Uncaught Error: channel closed"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Microsoft Windows 10 Enterprise
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.12.1

### Stack Trace

Uncaught Error: channel closed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-26 10:03] #51 closed

[2015-10-26 10:04] GrayOverride commented on #51
Uninstalling -> installing the package fixed the issue

[2015-10-26 12:56] JestonBlu opened #52 "Ctrl-Enter does not move text to console (having the issue on Windows 7 and Arch Linux)"
Highlighting text and hitting Ctrl-Enter moves the cursor to the next line without copying the text to the console. Selecting the text and using the command palate to send text to the console works though. I am seeing this issue on both a Windows 7 and Arch Linux install.

[2015-10-26 13:09] Sam2304 commented on #52
I believe this is a keybinding conflict. In my system, I get a conflict with ```editor:newline-below```, to turn that off you can edit your ```keymap.cson``` with the following:
[code]

Which will disable the default keybinding, allowing Terminal-Plus to work as expected.  (I found this by turning on the Keybinding resolver '```Ctrl-.```' (fullstop) to identify what was conflicting, then going to

[2015-10-26 14:26] JestonBlu commented on #52
Works perfectly, thanks!

[2015-10-26 14:26] #52 closed

[2015-10-26 16:30] JostCrow opened #53 "Terminal Freezes on save file"
When you have an active terminal and press control+s that the terminal does not response anymore.

Atom = 1.19.0
Terminal-plus = 0.12.1
Elementary os = 0.3.1

Also had this on ubuntu.

[2015-10-26 16:35] JostCrow opened #54 "Copy and paste does not work."
The commands don't work on my machine. I also tested it with the keybinding resolver open and it did not show the command when pasting in the terminal. It only showed that I pressed alt.

Atom = 1.19.0
Terminal-plus = 0.12.1
Elementary os = 0.3.1

Also had this on ubuntu.

[2015-10-26 17:31] MarkZander opened #55 "cursor does not always change to indicate window is not active"
When clicking on another window the cursor in terminal-plus continues to blink, it is blinking now while I'm entering this text. I'm frequently confused and forget to click on the terminal-plus pane before typing making for interesting results in unexpected windows.

Thanks for terminal-plus. It's great having an integrated terminal in atom.

[2015-10-26 17:32] jeremyramin commented on #53
@JostCrow I can't seem to be able to reproduce this in panel view or tab view. Which shell are you using?

[2015-10-26 17:35] jeremyramin commented on #54
I just did a quick release that should fix this issue. Please take a look and see if you can paste now.

[2015-10-26 20:45] jeremyramin commented on #55
Thank you for using Terminal-Plus. You are right, it should disable the cursor when the window is not in focus. I have fixed this issue and pushed up the changes. Expect the next update to fix the cursor blink.

If you still have this problem after the next update, please let me know. Otherwise go ahead and close this issue if it has been resolved.

[2015-10-26 22:06] MarkZander commented on #55
Thanks for looking into this and thanks again for the use of your software.

Mark

[2015-10-27 09:06] JostCrow commented on #53
I am using the default shell environment.

Sorry let me explain it better. It is not that I save a file. I accidentally save the terminal and then it won't respond anymore. That is how the terminal gets stuck. It completely freezes.

[2015-10-27 12:51] JestonBlu opened #56 "Support for multiple terminals"
It would be great if I could link to multiple terminals on Windows.  For Instance I have one terminal open running Git Bash, I would like to have another terminal that is the R Console. This already works on Linux since you can call both from the regular terminal, but not on Windows since you have to use the R console exe directly.

[2015-10-27 16:23] brbrr opened #57 "Uncaught TypeError: Cannot read property 'toggle' of null"
[Enter steps to reproduce below:]

Right after i've update to 0.12.2 and statusBar appear on the bottom, i've tried to open terminal window by ctrl-` and got that issue. app restart fix that issue.

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.5
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.12.2

### Stack Trace

Uncaught TypeError: Cannot read p

[2015-10-27 16:45] brbrr opened #58 "\n in multiline chunks from terminal"
While using terminal for tests, or repl (i.e. `pry`) I often need to copy some texts from terminal like server responses, some logged values like hashes, etc. But while I select and copy some multiline texts - new lines are also copied.
here is simple example:
(copy pasted as is, \n are saved)
[8] pry(main)> RestClient.get "http://api.openweathermap.org/data/2.5/weather?q=London,uk&appid=bd82977b8

[2015-10-27 16:56] jeremyramin commented on #57
Thanks for reporting this. It should be fine now after the restart, but I do see what happened. I'll make some minor adjustments for this.

[2015-10-27 17:10] jeremyramin commented on #58
I went ahead and got rest-client myself to test it in my computer's actual terminal client (Terminal.app for OS X) and I got the following:
[code]

So I'm assuming that OpenWeatherMap puts the `\n` in themselves.

[2015-10-27 17:20] jeremyramin commented on #56
I'll have to think of an easy way to implement this. Feel free to offer suggestions as to how you would like to be able to launch a terminal with a different shell.

[2015-10-27 17:25] brbrr commented on #58
Ok, now I executing same command in Terminal.app and in TerminalPlus, and copy paste reponses here:

Terminal.app:

    revairx:~ brbrr$ ruby -e 'require "rest-client"; puts RestClient.get "http://api.openweathermap.org/data/2.5/weather?q=London,uk&appid=bd82977b86bf27fb59a04b61b657fb6f"'
    {"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","i

[2015-10-27 17:26] brbrr commented on #58
And actually this would work with any of multiline string, i.e. less output, or long hash printing

[2015-10-27 17:35] JestonBlu commented on #56
An implementation suggestion would be putting multiple paths to the console separated by a semicolon.. and then being able to right click the Add Terminal icon and choose from the list of consoles based on the executable name minus the extension.

This package is great by the way. I am almost to the point where it has completely replaced my need for other IDEs.

![path](https://cloud.githubusercon

[2015-10-27 17:43] jeremyramin commented on #56
That could work. The first shell would be the default and then all shells would be listed in the right click menu. Right now, right click menus for the package are configured in a file. I will have to see if Atom will let me dynamically change the right click menu like this.

[2015-10-27 19:52] jeremyramin commented on #53
That is interesting. If I make the terminal a tab view and save it, nothing happens on OS X. The terminal is still responsive. I will have to try this on my Ubuntu machine later.

[2015-10-27 20:02] jeremyramin commented on #57
Fixed as of v0.12.3

[2015-10-27 20:02] #57 closed

[2015-10-27 20:03] jeremyramin commented on #55
Fixed as of v0.12.3

[2015-10-27 20:06] jeremyramin commented on #54
Fixed as of v0.12.2

[2015-10-27 20:32] MarkZander commented on #55
Much better!  Thanks!

However, the cursor is blinking when I click on tree view and when I type it does not go to the terminal-plus. In all other cases it does the right thing. It is workable for me as is.

Mark

[2015-10-27 20:37] jeremyramin commented on #55
That is interesting. I do have it set up to stop blinking when clicking any other part of Atom. There is no reason that it shouldn't work for the tree view. I will have to look into why this happens.

[2015-10-27 20:45] jeremyramin commented on #58
My apologies, I misunderstood what the issue is. I see now what the problem is. Fixing this will take a bit of work. It is related to how output lines are displayed in a HTML-friendly format for Atom. I will try to get to this as soon as I can.

[2015-10-27 22:24] MarkZander commented on #55
It works fine for me as is.

I wonder if the problem is with atom itself?

Thanks for fixing.

Mark

[2015-10-27 23:31] JestonBlu opened #59 "Install Error on Windows 10"
I seem to be having trouble getting this package to install on Windows 10.  I have it working on an Arch Linux setup and Windows 7 at work behind a proxy, but Windows 10 at home is giving me fits.  I do not seem to have issues installing other atom packages on Windows 10 which is why im confused.

I posted this on the NPM issues board as the error message suggests, but It hasn't gotten anywhere ye

[2015-10-28 00:34] jeremyramin commented on #55
The problem is with Atom. As seen [here](https://github.com/atom/tree-view/blob/master/lib/tree-view.coffee#L702) in the tree-view repository, Atom stops the propagation of the click event on the tree-view. I use the click event to blur the terminal if people click outside of the terminal. Since Atom stops the event after they process it, the terminal never sees that the click event happened. Not

[2015-10-28 00:46] jeremyramin commented on #59
My understanding of the error message says that it is an issue with using https:// and SSL to fetch the repository where my dependency is located.
[code]
I have installed this before on other Windows 10 machines so I do not think it is an issue with Windows 10.

Please try making a new folder somewhere and use the command: `git clone https://github.com/jeremyramin/term.js.git`. This is assuming yo

[2015-10-28 03:45] MarkZander commented on #55
Yea, I don’t click there a lot anyway, what you got now is a great improvement.

Thanks, Mark

[2015-10-28 12:27] Tiseno commented on #24
When switching to another file while the terminal is open the feature works as intended. But when opening a new terminal for a new file it does not create a new one.

[2015-10-28 16:08] jeremyramin commented on #24
I have it set up so it will only switch or create a new terminal if a terminal view is currently open. For the new terminal feature to work as intended, make sure you have the terminal mapping set to `File` and the toggle below the terminal mapping called `Auto Open New Terminal` enabled.

[2015-10-28 16:11] jeremyramin commented on #55
No problem. Closing this issue as it has been fixed by v0.12.3

[2015-10-28 16:11] #55 closed

[2015-10-28 22:49] JestonBlu commented on #59
It didn't work at first because I didn't have my public ssh key on my Github settings (not sure when i deleted that). I resolved that and was able to clone successfully, however the install through atom still did not work

[2015-10-29 01:35] tuvistavie opened #60 "Intercepted keys"
Hi,

I just started using this package and I like it a lot, thanks for the great work!

I have a question about what keys are intercepted and how.
I have the following key bindings:

[code]

The `terminal-plus:toggle` works perfectly even when I'm focusing the terminal but
`core:focus-next` and `core:focus-previous` seem to be intercepted when I am focusing
the terminal which makes it difficult to

[2015-10-29 03:17] jeremyramin commented on #60
@tuvistavie Hello. Thanks for using Terminal Plus. I really appreciate the compliment. As far as what keys are intercepted, this is handled by the `term.js` dependency of Terminal-Plus. Unfortunately, there are a lot of intercepted keys; a lot more than necessary.

I took a look at the dependency and these key combinations should not be intercepted. This is confirmed by the fact that I can still s

[2015-10-29 03:22] jeremyramin commented on #59
According to [this post on the Atom Discuss forum](https://discuss.atom.io/t/unable-to-install-packages/13812/6?u=jeremyramin), Atom uses the `git` command found in your `PATH` to install packages. The best way to confirm if that `git` works is to use the command from your system's default shell: `cmd.exe` or `Powershell`. If git clone works from there, then the issue lies somewhere else.

[2015-10-29 03:33] tuvistavie commented on #60
Hi @jeremyramin, thanks for the quick answer.

As you said, it seems that `ctrl-f13` and `ctrl-f14` are working fine and not intercepted,
the keybing resolver shows that `core:focus-` commands are called.
I therefore suppose that the terminal pane is not considered to be the previous pane.

I am quite new to Atom, therefore I am not really sure about how `focus-next` behaves,
but do you know what

[2015-10-29 03:45] tuvistavie commented on #60
Mm, after playing a bit around, I think that the atom commands are not called when the terminal has focus. I defined the following in my `init.coffee` file:

[code]

and in my keymap,

[code]

When I am focusing the editor, `hello` gets printed in the console, however when
the terminal has focus, the keybinding still resolves to `hello`, but nothing
gets printed to the console, so I suppose the fu

[2015-10-29 08:45] JostCrow commented on #54
Thanks. This works perfect.

[2015-10-29 08:45] #54 closed

[2015-10-29 12:36] JestonBlu commented on #59
Thanks, I think its a system issue of mine.

[2015-10-29 12:36] #59 closed

[2015-10-29 12:45] JestonBlu opened #61 "Cant send large selected text to the terminal"
I have noticed when selecting a large amount of text that scrolls off the page that I am unable to send that selected text to the terminal with either Ctrl-Enter or selecting Insert Text from the command palette.

It seems to work fine as long as I dont have to scroll to select what I want to send.

[2015-10-29 13:24] JostCrow commented on #9
I still have 1 request for this package. It would be awesome it there would be a command to add a terminal tab in the active pane.

[2015-10-30 00:11] jeremyramin commented on #61
@JestonBlu Sorry for the delay. I will test this and get back to you.

[2015-10-30 00:13] jeremyramin commented on #9
That can be done. I'll add a command for that and let you know when it has been released.

[2015-10-30 00:27] jeremyramin commented on #60
@tuvistavie Sorry for the delay. The way you have the command set up is that Atom will only listen for the command if you are in the text editor portion of Atom.

So when you are focused on the terminal of Terminal-Plus, the Atom command `hello` is fired but not actually received by anything because the scope is limited to within `atom-text-editor`. This is fixed by putting `atom-workspace` instea

[2015-10-30 02:00] jeremyramin commented on #61
I just had a chance to test this and I experienced no issues inserting a large selection of text that scrolls down the text editor. I selected multiple lines and then pressed `ctrl+enter` and all lines were inserted into the terminal. What exactly is happening for you when you try to insert this large amount of text?

[2015-10-30 08:10] JohnMurga opened #62 "Atom 1.2.0 beta0 - Blank panel"
Package states it has to rebuild binary dependency and appears to do so successfully, but when opening a new panel the cursor just sits there in the upper left corner.

[2015-10-30 08:52] tuvistavie commented on #60
@jeremyramin Ok, I see!
Great, thanks to your help I managed to get what I wanted.
I will just share in case someone tries doing the same thing.

In `init.coffee`, I defined the following to focus back the editor:

[code]

And then, I assigned it to a key which is not taken by the terminal:

[code]

I am closing the issue, thanks for your help!

[2015-10-30 08:52] #60 closed

[2015-10-30 12:35] JestonBlu commented on #61
I did some additional testing and I noticed that the insert function did work correctly when I tried to insert 50 or so lines of ls with scrolling.  What I am specifically using it for is to send sql to the terminal, so just one long query as opposed several complete commands.  It seems to work fine as long as my query does not go off screen and I dont have to scroll to capture all of the text, bu

[2015-10-30 13:06] JestonBlu commented on #61
I had a coworker test this and he is seeing the same behavior

[2015-10-30 13:36] JestonBlu opened #63 "Add support for syntax highlighting"
I don't know if this is possible, but it would be nice to be able to set each terminal to a specific syntax highlighting scheme. Also maybe an option to make syntax highlighting dynamic based on the extension of the script that the command was sent from.

[2015-10-30 13:49] nunocastromartins opened #64 "More keyboard binds"
First of all, thank you for your work on this extension!
It is so far the most useful terminal extension I've found for Atom.

I'll open a series of issues that I have found while using terminal-plus.
I hope they're useful and help make this extension better!

The first is a request to add the following keyboard commands:
- Close all terminals
- Rename active terminal

[2015-10-30 13:55] nunocastromartins opened #65 "Error when using next/prev with only one terminal"
### Steps To Reproduce

1. Terminal Plus: New
2. Terminal Plus: Next/Prev

**Atom Version**: 1.1.0
**System**: linux 4.2.4-1-ARCH
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.12.3

### Stack Trace

Uncaught TypeError: Cannot read property 'open' of null

[code]

[2015-10-30 14:25] nunocastromartins opened #66 "Issues with terminal fullscreen"
First of all, there is an issue with the current implementation of "fullscreen terminals".

If you type in a command and then fullscreen the terminal, the terminal's content will appear glitched. It becomes okay after you click on the terminal again.

Because two picture are worth two thousand words:

**After pressing fullscreen:**
![screenshot from 2015-10-30 14-09-36](https://cloud.githubusercon

[2015-10-30 14:42] nunocastromartins commented on #66
Another note on terminal fullscreening: I believe there is some conflict with another extension I use called color-picker.

I don't know why but the following actions cause a visual glitch (with color-picker installed):
1. Terminal Plus: New
2. Fullscreen terminal
3. Terminal Plus: New

The following happens (a blank area at the bottom of the Atom window appears):
![screenshot from 2015-10-30 14-3

[2015-10-30 14:50] nunocastromartins commented on #64
Another useful one (mentioned in another issue, but I thought I'd include it here):
- Toggle between tab/bottom-panel mode

And maybe (although I believe there shouldn't even exist a way to fullscreen terminals, as I proposed at #66):
- Toggle fullscreen

[2015-10-30 15:52] nunocastromartins opened #67 "Selecting text with blinking cursor"
I believe the title says it all. Selecting text with the "Cursor Blink" option enabled is impossible as the text becomes unselected when a "blink" occurs.

This is troublesome when attempting to copy text from the terminal, for instance.

[2015-10-30 16:04] nunocastromartins opened #68 "Copy/paste with a keyboard shortcut"
In Linux it is usually possible to copy/paste text from/into the terminal by using the keyboard shortcut `Ctrl + Shift + C/V`.

I wonder if it would be possible to add this feature.

[2015-10-30 16:05] jeremyramin commented on #62
@JohnMurga Please open the developer tools (`View > Developer > Toggle Developer Tools`) then click the *Console* tab. There should be some sort of error message there if the terminal is not opening properly.

[2015-10-30 16:10] JohnMurga commented on #62
D:\pack\atom\App\Atom\resources\app.asar\src\task.js:52 The specified procedure could not be found.
D:\pack\atom\Data\AtomProfile\packages\terminal-plus\node_modules\pty.js\bin\win32\ia32.node Error: The specified procedure could not be found.
D:\pack\atom\Data\AtomProfile\packages\terminal-plus\node_modules\pty.js\bin\win32\ia32.node
    at Error (native)
    at Object.module.(anonymous function)

[2015-10-30 16:10] jeremyramin commented on #63
The highlighting would have to be done by the command that is displaying output on the terminal. That command would have to send color escape sequences between the syntax in the output to highlight it. Not exactly feasible to implement syntax highlighting directly into the terminal emulator. Sorry about this.

[2015-10-30 16:12] jeremyramin commented on #64
@nunocastromartins I can add those commands, but I probably will not bind them to anything by default. As for the fullscreen, I'll comment on that issue in the that thread.

[2015-10-30 16:15] nunocastromartins commented on #64
Yes, that is what I meant! Please do add the commands, no need for them to have default bindings! :smile:

[2015-10-30 16:29] JohnMurga commented on #62
As stated in the title error only occurs in Atom 1.2.0 beta0 ...
Which uses Electron 0.34.0.

[2015-10-30 16:32] jeremyramin commented on #67
@nunocastromartins I'm assuming you mean when trying to copy text from where the prompt is. This issue is a side effect of my dependency trying to animate within HTML.

The dependency animates the cursor blink by editing the HTML at that line to remove and add the cursor. When that happens, text selected at that region is deselected because the text disappeared for a moment in time.

I might be ab

[2015-10-30 16:40] nunocastromartins commented on #67
You can do this with CSS only. :smile:
Give me a moment and I'll send you something to work with.

[2015-10-30 16:45] jeremyramin commented on #67
I figured I could just set up a blinking animation in CSS. If you could help me with that, that would save me some time with piecing something together.

[2015-10-30 16:45] nunocastromartins commented on #67
I simply added this to my `styles.less`
[code]

[2015-10-30 16:48] nunocastromartins commented on #67
Or, with no animation:
[code]

[2015-10-30 16:58] jeremyramin commented on #68
Fixed this just now in my dependency. In the next update you should be able to bind `terminal-plus:paste` and `terminal-plus:copy`.

[2015-10-30 17:19] nunocastromartins commented on #67
With a bit of "hacking" I made it work in a way that blinks without animation, doesn't hide the character in the position of the cursor and depends on the `background-color` of `.terminal-cursor`:

[code]

[2015-10-30 17:32] jeremyramin commented on #67
I like the animation. However I see the character as hidden when I implement this. Copying that region results in a missing character.
![screen shot 2015-10-30 at 10 32 14 am](https://cloud.githubusercontent.com/assets/3977054/10853087/86a5f77a-7ef1-11e5-9d3d-b2be0ef2ba37.png)
Copying results in: "helo" rather than "hello"

[2015-10-30 17:36] nunocastromartins commented on #67
I'm sorry, I edited the comment with the animation too. Forgot to say I edited it, though.
Use `background-color: transparent` and it should work.

[2015-10-30 17:45] nunocastromartins commented on #67
I personally prefer the "non-animated" version, as it seems to be the default behaviour in the Atom editor. As a further bonus, changing the `width` in `.terminal-cursor:after` (to, say, 1px or 2px) makes it possible to have an "I-beam" cursor, instead of the "block" one, with no issues (changing the `width` in `.terminal-cursor` causes problems, apparently).

[2015-10-30 17:50] jeremyramin commented on #67
Yes, it works now with your updated animation. I added a animation delay to make it blink less often. I could see the cursor being customizable at some point. The only problem with this is that it breaks any theming that people have done in their own stylesheets. I need to make this rely on `.terminal-cursor`'s background color somehow.

[2015-10-30 18:02] jeremyramin commented on #67
Turns out, it was a lot simpler than we though:
[code]
This works.

[2015-10-30 18:11] nunocastromartins commented on #67
Ah, nice! I'm not an expert on CSS animations. :stuck_out_tongue:
Just note that `animation-delay` is the time until the animation starts, it won't make the animation blink less ofter, I don't think. To make it blink less often just change the time value in the `animation` property.

[2015-10-30 18:16] jeremyramin commented on #67
Neither am I haha.

I should rephrase that. I added the `animation-delay` so the cursor would not consistently blink. The delay will keep the cursor solid during output and while moving the cursor. Then when there is no movement, the cursor will blink. That resembles what most terminal emulators do.

[2015-10-30 18:20] jeremyramin commented on #66
@nunocastromartins The fullscreen line displacement issue is something that can be fixed. Initially I added the fullscreen as a neat feature but it is a bit of a hack in the implementation. It has caused many issues so I wouldn't mind replacing it with just a switch to tab view. The only issue is I don't know how many people actually use or it rely on it.

Early on there was that conflict with the

[2015-10-30 18:23] jeremyramin commented on #62
Which uses Electron 0.34.0.

That would do it. I provide precompiled binaries with Terminal-Plus so everyone can use it. The only downside is that if people don't have the tools to run `node-gyp` and Electron updates, then the package breaks. The only thing I can really do is wait for the 1.2 release to be official before I release an update that contains binaries compiled for Electron 0.34.0.

[2015-10-30 18:34] nunocastromartins commented on #66
I would say get rid of the fullscreen feature, but you're right, you never know who may use it.
I really believe that the tab view is a better alternative, so I don't think anyone currently using the fullscreen feature would have a problem adjusting to the tab view.

Do you think it would be possible to have a terminal both on the bottom panel and in a tab? Clicking on the bottom icon or using the

[2015-10-30 19:13] jeremyramin commented on #66
I think I want to keep the panels separate from the tabs as far as the next/prev commands go. Panels already have a next/prev active item command that can be used to switch between tabs. Alternatively I could see there being a `terminal-plus:fullscreen` command that switches between the tab-view and the panel-view (i.e. move the current panel terminal up into a tab or bring it back into a panel).

[2015-10-30 21:37] jeremyramin commented on #68
Fixed as of v0.12.4. Please try mapping to `Ctrl-shift-v` now and see if it works.

[2015-10-30 21:38] jeremyramin commented on #67
Fixed as of v0.12.4. Please give it a try. If you still think this is still an issue, let me know. Otherwise please close this issue if it has been resolved.

[2015-10-30 21:38] jeremyramin commented on #65
Fixed as of v0.12.4. Please give it a try. If you still think this is still an issue, let me know. Otherwise please close this issue if it has been resolved.

[2015-10-30 21:39] jeremyramin commented on #64
I added `terminal-plus:close-all` and `terminal-plus:rename` in v0.12.4.

[2015-10-30 23:06] JestonBlu commented on #59
Figured it out... i had upgraded to the new Git version that installs into Program Files\Git rather than Program Files (x86)\Git.  The PATH variable was out of date. Thanks for the help.

[2015-10-30 23:14] jeremyramin commented on #59
No problem. Glad you were able to resolve your issue.

[2015-10-31 00:26] #65 closed

[2015-10-31 00:27] #67 closed

[2015-10-31 00:43] #68 closed

[2015-10-31 03:13] jeremyramin commented on #53
Fixed this in v0.12.5, please give it a try and let me know if it has been fixed. Please close this issue if it has been resolved.

[2015-10-31 03:16] jeremyramin commented on #61
So one really long command breaks it. I will have to test this and get back to you.

[2015-10-31 04:42] nunocastromartins opened #69 "Terminal notifications"
An idea perhaps worth considering: when a terminal is hidden, display some sort of notification (e.g. icon, colour-change, blink) when new content is output into the terminal.
Eclipse does something similar and is able to auto-show the terminal in such cases (maybe that would be annoying, though).

I do not know whether this is possible but, if you are able to listen to changes in different channe

[2015-10-31 23:26] jeremyramin commented on #69
Not a bad idea, I will take it into consideration.

[2015-10-31 23:52] jeremyramin commented on #61
I was able to insert one very long chain of `ls && ls && ls...` that scrolled far to the right successfully. It is hard to test since I do not have the exact setup that is giving you issues. The insert selected text makes no distinction over what text is being selected so there is no reason for the SQL not to insert. If this makes a difference to your input, `Insert-Selected-Text` appends the appr

[2015-11-01 01:10] JestonBlu commented on #61
Thanks for looking into it. Ill see if I can create a reproducible example for you on Monday.

[2015-11-01 22:37] objectkit opened #70 "Uncaught TypeError: cannot read property 'toggle' of null (v0.12.5)"
Noted this was addressed in v0.12.3, but the issue appears in v0.12.5 for me. Hope this helps:

1. Attempted to open a file in tree view after noticing its path mentioned in terminal-plus output after running an NPM script (unrelated I'm sure)
2. File opens, but file contents are not displayed in Atom
3. Close down terminal-plus, close file, open again
4. File now shows normally.

**Atom Version**

[2015-11-01 22:45] jeremyramin commented on #70
Do you have terminal mapping enabled? If so, then:
1. Are you mapped to Files or Folders?
2. Do you have `Auto Open a New Terminal` enabled?

[2015-11-02 01:22] jeremyramin commented on #70
Fixed as of v0.13.0. If the issue has been resolved, please close this issue. Otherwise, let me know and I will continue to work on it.

[2015-11-02 01:28] jeremyramin commented on #28
Great news! I found a simple way to implement support for the `alt+(key)` combinations. In OS X, I tested the keys you mentioned earlier (`option+5`, etc) and they work. Please give it a try and let me know if you have any issues. This should solve your original issue, but I could still add the key mapping feature if necessary.

[2015-11-02 13:09] Huaraz2 opened #71 "incompatible package: Cannot find module '/home/huaraz2/.atom/packages/terminal-plus/node_modules/pty.js/build'"
This message comes up everytime I open atom in dev mode and occasionally when i open it in normal mode.  I have the latest stable release for atom and the also have semingly all of the dependancies i need.  It is able to fix it in both normal and dev mode but when i restart it in dev mode it comes up again as an incompatible package.  It works fine when i reload atom in normal mode after it has fi

[2015-11-02 14:40] JestonBlu commented on #61
Here is an example of one of the long queries I am trying to send to the console which involves me scrolling to capture it all. In my specific setup, I am using Git Bash as my terminal on Windows 7(I tried with powershell and got the same results) . I also have `Run Inserted Text` unchecked since I need it to all be executed as one statement.

[code]

[2015-11-02 14:40] #63 closed

[2015-11-02 14:58] thblt commented on #28
Thanks a lot for this update! It seems to work for most keys, with a few quirks:

 - Almost all alt-something and alt-shift-something characters work perfectly, including greek letters, symbols or strange apple-specific characters (ß, ¬, ). This also includes alt-[letter] combinations, like `alt-l` (¬). To be more specific : I tried with ´alt-[a-z]´, ´alt-[0-9]´, ´alt-shift-[a-z]´, ´alt-shift-[0-

[2015-11-02 16:01] objectkit commented on #70
Hey- thanks for getting back to me:

1. Mapped to Folders
2. No

It doesn't look like its resolved in v0.13.0 I'm afraid, for me at least. Can you give me a heads up on those two configuration options just to make sure I'm on the same page?

[2015-11-02 20:50] Goddard opened #72 "stay full screen if in full screen when creating new terminal"
Small issue and probably not even an issue just an idea of how a behavior should be.

When creating a new tab and you are already in full screen mode why doesn't it create the new tab in full screen mode as well?

Thanks for the awesome package.

[2015-11-02 20:51] jeremyramin commented on #70
Make sure you refresh Atom after the update. You could still be running on the old code that has the issue.

[2015-11-02 20:52] jeremyramin commented on #71
I will have to test this myself and get back to you. Thank you for bringing this to my attention.

[2015-11-02 21:03] jeremyramin commented on #72
The fullscreen mode is written in a manner that makes it different for each terminal because each terminal has it's own height value. The fullscreen mode could be global, meaning that new tabs would be effected as well but then you would not be able to fullscreen some terminals while keeping others normal.

Thanks for using Terminal-Plus.

[2015-11-02 21:06] Goddard commented on #72
Could you not just have the new tab adopt the value of the tab that is currently in focus by default?  That would be predictable behavior right?

[2015-11-02 21:30] jeremyramin commented on #28
`alt+n` and ```alt+` ``` unfortunately still do not work. This is because the terminal dependency still lacks support for the dead keys.

That is on purpose. Originally both alt keys sent the escape sequences so I found a way to detect which alt key is being pressed in Javascript and made sure that only the right alt key would send escape sequences. That leaves the left alt key for making these al

[2015-11-02 21:33] jeremyramin commented on #72
I could definitely add that. I'll inform you when I have a release with this implemented.

[2015-11-03 18:25] Goddard commented on #72
awesome...

[2015-11-03 18:25] #72 closed

[2015-11-04 03:04] jeremyramin commented on #61
I will have to give this a try. Sorry for the late reply, this is a busy week for me.

[2015-11-04 06:11] suzetmk commented on #48
I'm so sorry, but I had a misundersanding about what you mentioned of "terminal as a tab"...
I tried tab feature and it seems to be really nice, but unfortunately didn't fit to my use case.

I prefer to use terminal-plus with small size normally,
and to maximize/re-contract it on demand, with keeping current jobs.
(In addition, it will be nice if I can toggle maximize with command)

I tried those

[2015-11-04 06:31] suzetmk commented on #48
One more request,
It would be nice if atom's active tab is restored to last one
when activated terminal-tab is switched to botom-tool-panel in above use case.

[2015-11-05 18:40] eburnette opened #73 "How do you increase the font size?"
I tried editing the style sheet but font-size had no effect. Also Ctrl-Mousewheel doesn't work like it does in a normal Atom edit window. So how do you make the font bigger in the terminal window?

[2015-11-05 18:44] nunocastromartins commented on #73
I believe you can use `!important` in your style sheet to override the default font size. :-)
e.g.: `font-size: 24px !important;`

[2015-11-05 20:23] eburnette commented on #73
That didn't work.

.terminal-plus .xterm {
  font-size: 100pt !important;
}

[2015-11-05 23:10] nunocastromartins commented on #73
Try using `.terminal-plus .terminal` as a selector. Works for me.

[2015-11-05 23:54] nunocastromartins opened #74 "'Working Directory' set as 'Project' not working properly"
Files from different project folders cause the terminal to open in the same path: namely, the first project folder in the tree view.

Steps to reproduce:

1. Open two project folders ("Application: Add Project Folder" action)
2. Open a file from inside each project folder
3. Create a new terminal window for each file

This might be on purpose. If it is, I don't think it is the appropriate behaviou

[2015-11-06 11:21] JostCrow commented on #53
This issue has been solved. Sorry for the late response.

[2015-11-06 11:21] #53 closed

[2015-11-06 14:27] eburnette commented on #73
That worked. Thanks.

I got ".terminal-plus .xterm" from your doc under "Themes". Using .xterm works for background-color but not for font-size. I tried background-color with .terminal and that did not work, but if I added !important then that worked. It's a little confusing but not a big deal.

I've tried several terminal plugins on Windows and yours works the best. Keep up the good work.

[2015-11-06 15:47] nunocastromartins commented on #73
I'm glad I could help, but I'm not the owner of this plugin! :smile:
Just someone that agrees with you in that this one works the best.

[2015-11-06 19:53] jeremyramin commented on #48
@suzetmk I have been planning on replacing the default full screen with this tab view mode. A command for toggling "fullscreen" can be added with this update. That way you could toggle between tab view and bottom panel view.

It would be nice if atom's active tab is restored to last one
when activated terminal-tab is switched to botom-tool-panel in above use case.

Just to clarify, should the focu

[2015-11-06 19:59] jeremyramin commented on #73
@eburnette Hi there, original developer here. Sorry for the late reply, it has been a really busy week.

As for setting the font size, the Terminal-Plus settings has some styling options (including setting the font size) that you can tinker with:

![screen shot 2015-11-06 at 11 56 15 am](https://cloud.githubusercontent.com/assets/3977054/11007238/68400640-847d-11e5-91b5-5022618b12d7.png)
*Note: Th

[2015-11-06 20:10] jeremyramin commented on #74
@nunocastromartins At the moment, the terminal does select from the first project folder. While this was intentional, this is mostly due to the fact that there is no command for getting the project folder from the currently open file. The good news is that I already have an idea in mind for implementing this so I'll get to work on adding it.

[2015-11-06 20:16] jeremyramin commented on #70
@objectkit Did the issue persist after restarting Atom?

[2015-11-06 21:11] nunocastromartins opened #75 "Issue with terminal tooltips"
There seems to be some sort of glitch with the terminal tooltips:

![Tooltip issue](https://cloud.githubusercontent.com/assets/8314616/11008656/ee22ec68-84c9-11e5-9299-2f77f68f1823.png)

As you can see, it looks like there are two tooltips, one on top of the other.
I believe that the one on the back says `/bin/bash`.

This wasn't very noticeable with the theme I was previously using (although stil

[2015-11-06 21:25] jeremyramin commented on #75
Expect a fix in the next release.

[2015-11-07 01:31] jeremyramin commented on #75
Fixed as of v0.13.1. Should improve terminal titles as well.

[2015-11-07 01:32] jeremyramin commented on #74
Implemented as of v0.13.1.

[2015-11-07 01:32] jeremyramin commented on #71
This should be fixed as of v0.13.1. You might need to uninstall and then reinstall Terminal-Plus to reset Atom's cache for the package.

[2015-11-07 05:37] #75 closed

[2015-11-07 05:37] #74 closed

[2015-11-08 12:51] zmLGBBM commented on #28
@jeremyramin @thblt Hi there. Is this problem solved already? Or is there a workaround? I'm having the same problem with `patched font for powerline` here on my `Ubuntu GNOME` machine. Changing font in `terminal-plus`'s settings seems not working at all.

[2015-11-08 14:14] thblt commented on #28
Could you please be more specific? The problem with Powerline fonts has been fixed, it was a general problem with extended characters due to Terminal-Plus not setting `LANG` in the environment.

[2015-11-08 16:30] abrar2741 commented on #14
@jeremyramin Awesome! I don't type Japanese but still your approach is truly awesome. Now I came to know why that different dialog box for typing was present.

Hello, I am Abrar Shaikh and am new to programming and have started with python. Would you guide me how to use your terminal plus. I can run the code using Code Runner package and normal windows terminal but when I do the same it shows this

[2015-11-08 17:33] Huaraz2 commented on #71
Thanks @jeremyramin have updated to v0.13.1 and it now works great in both dev and normal mode.  Didn't need to uninstall and reinstall it either.
This is an AWESOME package by the way :+1:  :smiling_imp:

[2015-11-08 21:59] jeremyramin commented on #28
@zmLGBBM Reasons why this might not be working:
1. The font you are trying to use might not be patched for powerline characters.
2. The font name you are entering does not match the font that resides on your computer. Terminal-Plus will default to the monospace font if the custom font you pick does not exist. The monospace font is not patched for powerline characters.

[2015-11-08 22:04] jeremyramin commented on #14
@abrar2741 To run a python file you need to run it with the `python` command:
`python Assignment2_1.py`

'Change directory' to previous folder works properly: cd..
But 'change directory' to next folder does not work: cd Week 2

When you change directories to a folder with a space in the name, you need to escape the space or put quotes around it:
`cd Week\ 2` or `cd "Week 2"`

[2015-11-08 22:06] jeremyramin commented on #71
That is good to hear. Sorry for the delay, took me a while to find the time to test it.

Thank you, that means a lot.

[2015-11-08 22:07] #71 closed

[2015-11-08 23:06] jeremyramin commented on #61
Please try sending the long message to the terminal. v0.13.1 has an update that might fix the issue.

[2015-11-09 02:51] zmLGBBM commented on #28
@thblt @jeremyramin Well, yeah, seems like I got the font's name wrong. It has a `comma` in the name:

Not Working: `DejaVu Sans Mono for Powerline Book`,
**Working:** `DejaVu Sans Mono for Powerline, Book`.

[2015-11-09 15:10] JestonBlu commented on #61
I gave it a shot, but it didn't work.  I also tried copying the text to the clipboard and pasting it into the terminal, but that didn't work either.  I was able to copy and paste to a different window to check that I was copying properly.  I wonder is the issue that terminal plus isnt able to copy all of the selected text?

[2015-11-09 19:16] yluyao opened #76 "Terminal does not load when working directory contains CJK characters"
I'm on Windows 10 x64.
When a new terminal is created in the file's directory and the file's full path includes some CJK characters, the terminal won't load. winpty-agent shows up in task manager, but all I get is a blank blinking cursor in the terminal pane, no prompt.

This issue seems to come up regardless if I'm using CMD or PS. I've also tried legacy terminal in windows.

Right now my workaro

[2015-11-09 21:43] jeremyramin commented on #76
@yluyao I definitely do not expect you to rename your directories to use Terminal-Plus. I will have to look into this and perform some tests. Please keep in mind that this might take a while considering I have to do the following:

1. Test and see why winpty does not work with CJK characters.
2. Inform the winpty developer to implement a fix.
3. Update my repositories.

[2015-11-10 07:43] jeremyramin commented on #14
As of v0.14.0, Terminal-Plus now supports IME character input. Please review the latest release and let me know what you think.

[2015-11-10 07:45] jeremyramin commented on #28
As of v0.14.0, Terminal-Plus now supports dead keys. Please review the latest release and let me know what you think. The exact commit can be found [here](https://github.com/jeremyramin/term.js/commit/e851ea232a114902ea6a8e5cc8f7d34d07969c42).

[2015-11-10 08:19] jeremyramin commented on #61
Tests on both Windows 8.1 and OS X show that I could both insert and paste the long query into the terminal. On OS X, I was using zsh. On Windows 8.1, I was using the default (powershell). In both instances I could:

Highlight the query and use the `insert selected text` command to insert the text.
Copy the query and paste it in.

I don't have anything that can actually parse the SQL query, but at

[2015-11-10 08:19] #73 closed

[2015-11-10 13:05] pietrodn opened #77 "Terminal as a tab: cannot split panel"
Here is my problem:

1. Activate the terminal with Ctrl+`
1. Drag the Terminal icon to the panel bar and the terminals becomes a panel.
1. Right-click the terminal panel title, and choose "Split Down"
1. The terminal panel doesn't split

Expected behaviour: the panel should split like any panel.

It works, though, by splitting another panel and then dragging the terminal panel to the new area.

![

[2015-11-10 13:07] pietrodn commented on #9
I found an issue with this: https://github.com/jeremyramin/terminal-plus/issues/77

[2015-11-10 13:32] JestonBlu commented on #61
Thanks for looking into it.  For small text I am able to highlight, copy to the clipboard and right click paste into the terminal, but I get the same no response when I select the larger text. Not sure where to go from here.  Let me know if you want me to close the ticket.

[2015-11-10 22:07] MocanuMarius opened #78 "Uncaught TypeError: Cannot read property 'focus' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Ubuntu 14.04.3
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.0

### Stack Trace

Uncaught TypeError: Cannot read property 'focus' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-11 06:13] jeremyramin commented on #78
It would be very helpful if you could tell me what settings you have enabled in the Terminal-Plus settings.

[2015-11-11 08:27] mark-jordalew opened #79 "Lost ^ ~ ¨ and ` ´ ' key input on danish keyboard"
version 0.13 handled input from these keys fine, upgrade to 0.14 lost them.

Awesome plugin by the way, I love it so much! ^_^

[2015-11-11 08:29] mark-jordalew commented on #79
Closed issue because I am an idiot and forgot to restart atom. Plug in even better than I thought. :p

[2015-11-11 08:29] #79 closed

[2015-11-11 09:58] JostCrow opened #80 "Uncaught TypeError: Cannot read property '9' of undefined"
1. run django runserver (python manage.py runserver).
2. defocus the editor.
3. click on the terminal.

It could be that you need to do this multiple times. It just popped up randomly.

**Atom Version**: 1.1.0
**System**: elementary OS
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.0

### Stack Trace

Uncaught TypeError: Cannot read property '9' of un

[2015-11-11 15:24] thblt commented on #28
It works perfectly for me, although a small quirk remains, but shouldn't be blocking to any use case I can think of: when pressing a dead key twice, the character it represents appears three times instead of one, without enabling dead key behavior on the second and third instances.

Eg, pressing `alt-n` `alt-n` `n` usually inputs "~ñ", where in Terminal Plus the result is "~~~n"

This being said,

[2015-11-11 16:43] nunocastromartins commented on #28
I agree that this was a great addition!
I didn't notice any issues with it. :smile:

Just one question: is there still any reason for the existence of the keyboard button that allows you to write in an input box? Or did you just leave it in case the update didn't work as expected?

[2015-11-11 17:56] tonatiuh opened #81 "Loses focus when switching from another window"
OS: OS X 10.11.1
Atom version: 1.1.0
Terminal-plus version: 0.14.0
Shell: fish 2.20

The bug:
Given I have a terminal-plus terminal opened and focused
when I switch to another window using cmd+tab
and I switch back to atom
then the focus is lost (I type in the keyboard and only the first character appears)

[2015-11-11 18:55] elalaouifaris opened #82 "Uncaught TypeError: Cannot set property 'innerHTML' of undefined"
[Enter steps to reproduce below:]

1. While testing this tutorial:
http://angular-meteor.com/tutorials/angular2/3-way-data-binding.
Section: Inserting Parties from the Console
2. Using the meteor helper module for running the server directly in Atom
3. started a shell in Atom and accessed the mongo shell by "meteor mongo"
4. when I typed "db" for the next command in the tutorial the reported bug s

[2015-11-11 22:18] jeremyramin commented on #28
@thblt I'll try and see if I can fix that. If not, then it should be fine since it does not interrupt normal usage.
@nunocastromartins Yes I left it there incase someone still needed it. Also, some people have grown accustomed to it. Later when custom buttons and custom commands are implemented, I plan on using it as the default custom button as well as an example. At that point, you could remove

[2015-11-11 22:22] jeremyramin commented on #61
Let's not close this just yet. I will continue to test this on other machines and get back to you as soon as I can.

[2015-11-11 23:46] jeremyramin commented on #81
Fixed this. Expect it to work in the next release. You will have to restart Atom to see the change take effect.

[2015-11-12 00:28] jeremyramin commented on #82
Thank you for the detailed report. I was able to reproduce the issue with this detail. Expect the next release to have this issue fixed. You will probably have to restart Atom after updating Terminal-Plus for the changes to take effect.

[2015-11-12 00:44] tonatiuh commented on #81
Do you mean release 15? Do you have an idea of when to launch it?

[2015-11-12 00:44] tonatiuh commented on #81
Thanks for this good Atom package btw.

[2015-11-12 01:09] jeremyramin commented on #81
It will be in a patch (0.14.1) sometime soon after I fix several of the other issues that came up today.

[2015-11-12 02:19] jeremyramin commented on #80
@JostCrow I am having trouble reproducing this. Did you happen to select anything at the time?

[2015-11-12 10:28] JostCrow commented on #80
@jeremyramin From what I know I did not have anything selected.

It also didn't happen again after that first time.

[2015-11-13 02:32] kambing86 opened #83 "not compatible with atom v1.2.0"
error occur, please check

[2015-11-13 02:36] jeremyramin commented on #83
Yes, Atom 1.2.0 will break Terminal-Plus unless you have the proper dependencies for [node-gyp](https://github.com/nodejs/node-gyp#installation). If you do not mind waiting, I should have a new release with updated binaries soon.

[2015-11-13 04:53] daducci opened #84 "Text shadow"
Hi,
no matter what terminal theme I choose, a shadow always appear around the text.
Is is something that can be removed? I'm on OSX. I don't see such text shadow in system shells such as Terminal.app or iTerm2.app.
Thanks!

[2015-11-13 13:17] MocanuMarius commented on #78
After i've restarted atom it seemed to work...

[2015-11-13 16:44] Bob131 opened #85 "Option to fold the terminal status bar into the existing status bar"
It'd be great if there was an option to have terminal-plus add its status bar to the existing status bar atom-panel between the .status-bar-left and .status-bar-right elements rather than creating another status-bar panel

[2015-11-13 17:27] williamokano commented on #83
No error here but the terminal shows up but never really open for tipying my commands.

Trying this node-gyp

[2015-11-13 19:41] jeremyramin commented on #84
@daducci Can you please provide a screen shot? I do not apply a text shadow to the text at any point.

[2015-11-13 19:42] jeremyramin commented on #85
I wil consider this as an option. Should be rather easily to implement.

[2015-11-13 19:45] daducci commented on #84
Sure!
<img width="569" alt="shadow" src="https://cloud.githubusercontent.com/assets/369680/11155668/eb2ab2a2-8a14-11e5-97c1-de0d649d9e01.png">
Perhaps it's a stupid thing, in case I apologize. I started yesterday to play with Atom plugins and I'm trying to implement a sort of cell-mode like in Matlab. If you want, I can share the code for that..

[2015-11-13 19:49] briandeweese opened #86 "Uncaught TypeError: Cannot read property 'animating' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Mac OS X 10.10.5
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.0

### Stack Trace

Uncaught TypeError: Cannot read property 'animating' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-13 19:51] jeremyramin commented on #84
Well, that is definitely a text shadow. Do you see this in your default shell? It seems you are using something else.

[2015-11-13 19:52] jeremyramin commented on #86
Thanks for reporting this, I will get right on it.

[2015-11-13 19:54] daducci commented on #84
No, it appears only within the term in Atom. Here is a screenshot from the other two system terminals on OSX: iTerm2.app (left) and Terminal.app (right):
<img width="936" alt="iterm_and_terminal" src="https://cloud.githubusercontent.com/assets/369680/11155881/63baa41a-8a16-11e5-9565-747fff1e4d88.png">

[2015-11-13 20:04] jeremyramin commented on #84
May I ask what theme you are using for Atom?

[2015-11-13 20:26] jeremyramin commented on #83
v0.14.1 has the updated binaries for Atom 1.2.0

[2015-11-13 20:27] daducci commented on #84
It was Atom Light, and indeed that was the problem generating the shadow.. Sorry for that, I didn't know it might related to the main theme..
Thanks a lot!

By the way, are you interested in having a "cell mode" into your package? I use it mainly to inetract with ipython, but it is customizable.

[2015-11-13 21:34] jeremyramin commented on #84
No problem, glad you were able to solve the issue.

It sounds like a great addition but I do not think I will be able to get to it anytime soon since there are a lot of fixes and enhancements that I have to get to.

[2015-11-13 21:34] #83 closed

[2015-11-13 21:36] jeremyramin commented on #82
Fixed as of v0.14.1

[2015-11-13 21:36] jeremyramin commented on #81
Fixed as of v0.14.1

[2015-11-13 21:36] #81 closed

[2015-11-13 21:37] jeremyramin commented on #78
The update might have caused the issue. Either way I added a check for an undefined terminal so this issue should be fixed as of v0.14.1.

[2015-11-13 21:37] #78 closed

[2015-11-13 21:44] #84 closed

[2015-11-13 22:28] elalaouifaris commented on #82
Thank you for the very fast update!!
Great job and I really appreciate this tool!

[2015-11-14 00:31] brianbolt opened #87 "Uncaught TypeError: Cannot read property '24' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Mac OS X 10.11.1
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.1

### Stack Trace

Uncaught TypeError: Cannot read property '24' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-14 09:56] cometeer opened #88 "Uncaught TypeError: Cannot read property 'dispose' of null"
Open 2 terminal windows
Switch between them by clicking the button (the one you can give a color)
Try to close one of the terminals

Additional info:
Prior to this the terminals stacked instead of switching. A reload fixed the issue but it came back once more. Maybe just a fluke?

**Atom Version**: 1.2.0
**System**: Microsoft Windows 10 Home
**Thrown From**: [terminal-plus](https://github.com/jere

[2015-11-14 19:17] shuhaodo commented on #85
+1 Would be great!

[2015-11-14 19:27] jeremyramin commented on #88
I'll take a look. Thanks for reporting this!

[2015-11-14 19:36] jeremyramin commented on #87
Duplicate of #80. Closing in favor of previous issue.

[2015-11-14 19:36] #87 closed

[2015-11-14 19:45] #14 closed

[2015-11-14 19:54] jeremyramin commented on #88
Two terminal views should not be able to be open at the same time which makes this rather interesting. Either way, I have dealt with the situation where this error would occur.

Fixed as of v0.14.2

[2015-11-14 19:55] jeremyramin commented on #86
Fixed as of v0.14.2

[2015-11-14 19:55] #86 closed

[2015-11-14 19:55] #82 closed

[2015-11-14 19:55] jeremyramin commented on #82
No problem. Thank you for using Terminal-Plus.

[2015-11-14 19:56] jeremyramin commented on #80
This should be fixed as of v0.14.2

[2015-11-14 19:56] jeremyramin commented on #70
Closing issue as it has been confirmed and resolved as of v0.13.0

[2015-11-14 19:56] #70 closed

[2015-11-16 02:25] JohnMurga opened #89 "When no active folder or file terminal-plus displays blank terminal tab"
A bit of an edge case, but when I have nothing opened and open a terminal tab it'll be blank and just sit there. Can reproduce with a new file that has not been saved yet and no active project directory.

[2015-11-16 04:31] jeremyramin commented on #89
May I ask which operating system are you using?

[2015-11-16 10:15] brbrr opened #90 "Feature: navigation within input line"
There would be nice to have navigation functionality such as in mac terminal app:
1. [alt] + [left]/[right] - For moving to beginning of previous word/end of next word. useful when editing come copypasted commands
2. [alt] + mouse click - For placing cursor where mouse was clicked.

[2015-11-16 10:15] JostCrow commented on #80
Thanks. The problem did not occur again.

[2015-11-16 10:15] #80 closed

[2015-11-16 10:18] JostCrow opened #91 "Tabs are displayed weird."
There is a problem with the Tabs that they do not align correct.

The steps:
1. Open a terminal as a tab.
2. Open a second ternimal (not as a tab).
3. switch between them.
4. Should turn out as the image below.

![screenshot from 2015-11-16 11 14 50](https://cloud.githubusercontent.com/assets/390575/11179470/bfbcbbc4-8c53-11e5-9ea5-81ba9130aabd.png)

[2015-11-16 10:19] JostCrow commented on #9
Issue #91 is related to this.

[2015-11-16 11:57] yzhen123 opened #92 "win10 Threshold 2, couldn't run msys2 zsh"
it's a really strange  problem that I couldn't run zsh, because the cmd  console shows   memory isn't enough or couldn't  allocate memory  when I try  to  run  zsh/bash/sh(msys2). My laptop was  left in my company, I'll  upload the screen  captures tomorrow.

[2015-11-16 12:48] JohnMurga commented on #89
Tested on Ubuntu (cannot reproduce), and Windows (can)

[2015-11-16 14:17] pcgeek86 opened #93 "Option to "run script" or "run selection""
It would be really helpful to be able to hit `F5` to "run script" or `F8` to "run selection" from the Atom Editor window. I didn't initially see this option, when I looked for it, but it would be great to see some integration here. Does it already exist?

**EDIT**: I just found the `CTRL + Enter` shortcut. However, this has a few pitfalls:

1. It doesn't set focus to the terminal.
2. It requires t

[2015-11-16 15:45] pcgeek86 opened #94 "Run terminal-plus in separate window"
I'd like to run `terminal-plus` in a separate window in Atom, so I can move it to a separate monitor, and have more control over the window's position. Is this possible in the Atom framework?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-11-16 15:47] pcgeek86 opened #95 "Text size should match Atom editor window"
The text size of the terminal sessions should match the text size of the Atom Editor window, for consistency. Right now, it doesn't match up. Using Atom 1.2.0 on Mac OS X 10.11.1.

<img width="737" alt="screen shot 2015-11-16 at 8 48 13 am" src="https://cloud.githubusercontent.com/assets/466713/11186424/d9376a00-8c3e-11e5-8a1b-78883170cc65.png">

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
h

[2015-11-16 17:24] nunocastromartins commented on #85
:+1: Totally agree. :smile:

[2015-11-16 18:53] etiktin opened #96 "The environment variables on Windows are not filtered"
I'm using terminal-plus v0.14.2 with Atom v1.2.0 on Windows 8.1.

I tried to run an Electron app through the terminal, but instead of running it, it opened a node REPL. This was caused because the following environment variable was set: `ATOM_SHELL_INTERNAL_RUN_AS_NODE=1`.
When I open a standalone cmd, this variable is not set.

I looked in the code and found that there's a function called [`filte

[2015-11-16 18:55] pcgeek86 opened #97 "Keyboard shortcut to switch between terminal & code editor"
Could there be a keyboard shortcut added, that enables the user to switch between the code editor window, and the terminal window?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell
http://trevorsullivan.net
http://twitter.com/pcgeek86

[2015-11-16 20:53] patrickml opened #98 "Terminal Seems to Crash"
Iv had a recurring issue when working with this package on Atom.

I am working on a MeteorJS application I run my application from the terminal and after awhile the terminal seems to crash without saying it does. What i mean is it freezes and my application stops running. I have to close the terminal and restart my application.

[2015-11-16 21:33] jeremyramin commented on #91
I was not able to reproduce this issue. If you could provide an animation or more information, that would be great.

[2015-11-16 21:36] jeremyramin commented on #93
This is for the case where users want to just run a command and see its output without focusing on the terminal.

If nothing is selected, it should insert the entire line that your cursor is at.

That requires you toggle the option `Run Inserted Text` from the Terminal-Plus settings.

[2015-11-16 21:38] jeremyramin commented on #94
You can achieve this by doing the following:
1. Open a new window in Atom.
2. Open a new terminal in that new window.
3. Drag that terminal's status icon (the little icon in the status bar at the bottom of the window) up to the tab-bar area in the Atom window. It should now occupy the full Atom window as a tab.

**Note:** The tab view is experimental but should be functional.

[2015-11-16 21:52] JostCrow commented on #91
I will make an animation tomorrow at work.

On Mon, 16 Nov 2015 22:33 Jeremy Ebneyamin <notifications@github.com> wrote:

--

Jorik Kraaikamp

[2015-11-16 22:14] jeremyramin commented on #92
I will give this a try on my Windows machine sometime. Thanks for the report!

[2015-11-16 22:56] jeremyramin commented on #95
This can be added.

[2015-11-17 01:06] yzhen123 commented on #92
![image](https://cloud.githubusercontent.com/assets/5233940/11199583/be31179e-8d09-11e5-9e2b-023f7e515093.png)

The Chinese charactors above means the memory is not enough, couldn't handle this command.Then I try to run zsh, here are the output.

![image](https://cloud.githubusercontent.com/assets/5233940/11199586/c88cb072-8d09-11e5-9884-24176d38910f.png)

But if I run zsh on my cmd console direct

[2015-11-17 02:41] yzhen123 commented on #92
It's really luck that I find the reason this morning, it seems that it's caused by forking a 64-bit subprocess from a 32-bit cmd(or win-pty?), check this <http://sourceforge.net/p/msys2/tickets/208/> and I find a solution:
![image](https://cloud.githubusercontent.com/assets/5233940/11201299/cd93c8ae-8d17-11e5-9a1b-704c316c3903.png)

[2015-11-17 02:52] #92 closed

[2015-11-17 04:09] jeremyramin commented on #92
@yzhen123 I am glad you were able to find a solution to this.

[2015-11-17 04:14] jeremyramin commented on #98
If you can provide me with additional information about your system, I can reproduce this and find out what is going on.

1. Operating system
2. A sample for me to run. The best thing would be a link to a sample provided by the MeteorJS tutorials that closely resembles what you are doing. That way I can try the commands that you are using to get it to freeze.

[2015-11-17 04:15] jeremyramin commented on #97
At the moment there is not a keyboard shortcut for switching between the text editor and the terminal. I could see about adding such a feature.

[2015-11-17 04:21] jeremyramin commented on #96
Unfortunately, the dependency I use to start shells does not allow me to filter the environment for Windows machines. Getting this issue fixed has been on my to-do list for some time but issues have been coming in that prevent me from being able to fix this myself. I apologize for this.

[2015-11-17 05:17] #88 closed

[2015-11-17 05:17] jeremyramin commented on #95
Added in v0.14.3

[2015-11-17 05:18] #62 closed

[2015-11-17 06:34] yzhen123 commented on #92
@jeremyramin well, I have to say it's hard to find a solution in windows (or usually don't even exist), but since I'm going to change my laptop to a macbook, hope there would be less time to face these kind of question.

[2015-11-17 09:04] JostCrow commented on #91
Is there a way to send the screen recording to you?

[2015-11-17 09:06] jeremyramin commented on #91
You can attach files here on Github I believe. The best would be a gif file since Github would just display it here without me having to download it.

[2015-11-17 09:33] mswf commented on #96
As a quick tip workaround for anybody running into this, adding this
[code]
to the "Auto Run Command" setting directly, or setting this option to run a .bat with this instruction in it will allow you to run any external electron apps through terminal-plus again.

[2015-11-17 17:35] pcgeek86 commented on #95
@jeremyramin Awesome!! Thanks!

Cheers,
Trevor Sullivan

[2015-11-17 17:35] #95 closed

[2015-11-17 22:44] nunocastromartins commented on #95
By the way, on a similar note.
Shouldn't the font, by default, also match the font of the editor window?

[2015-11-17 23:05] asowers1 opened #99 "Uncaught TypeError: Cannot read property 'normal' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.169.0
**System**: Mac OS X 10.11.1
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.3

### Stack Trace

Uncaught TypeError: Cannot read property 'normal' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-11-18 03:43] jeremyramin commented on #95
@pcgeek86 No problem.

@nunocastromartins Actually the terminal needs a different font (specifically a monospace font) in order to function properly.

[2015-11-18 03:49] jeremyramin commented on #99
I'm not sure if this is right. If it is correct, then there will continue to be an error until you update to the latest version of Atom. Actually, I'm pretty sure version v0.14.3 of Terminal-Plus can only be installed on Atom v1.2.0 or greater.

[2015-11-18 08:31] nunocastromartins commented on #95
What do you mean by different font? The editor's font family should already be monospaced, no?
Do people program in non-monospaced fonts?

[2015-11-18 09:00] JostCrow commented on #91
I am working on it

[2015-11-18 13:10] JostCrow commented on #91
![out2](https://cloud.githubusercontent.com/assets/390575/11241804/08052dca-8dfe-11e5-9b72-7db647386349.gif)

[2015-11-18 16:15] patrickml commented on #98
1. OS X El Capitan 10.11.1
2. Sadly I cannot provide anything like what I am doing, but I can tell you I do use cmd + k a lot to clear the screen and now i'm wondering if that has anything to do with this issue?

[2015-11-18 17:40] BLamy opened #100 "Default names"
Maybe some options for default names.

For instance here you can bind the name to either the current directory or current process.

![image](https://cloud.githubusercontent.com/assets/324928/11248877/73adde30-8df1-11e5-9902-c66b568194d6.png)

[2015-11-18 19:41] nunocastromartins opened #101 "Using 'clear' and 'reset' commands"
The cursor disappears when using `clear`/`reset` commands from a terminal window until certain keys (e.g. backspace or arrow keys) are pressed or the terminal window is refocused.

Also, when using `clear` I can't seem to scroll back up. I don't think that's the expected behaviour.

Keep up with the good work! :smile:

[2015-11-18 20:14] patrickml commented on #98
Also this error seems to pop up but removing the plugin doesnt work https://github.com/jeremyramin/terminal-plus/issues/51

[2015-11-18 22:04] jeremyramin commented on #98
I'm looking into the `cmd-k` clearing command. I'm going to try and see if this command would cause your terminal process to close for some reason. I'lll let you know if there is anything I need from you. Thanks.

[2015-11-18 22:13] jeremyramin commented on #100
All data displayed to the user goes through that make-shift pipe. Extracting the current directory would involve filtering out the directory from the string. The reasons why this would be bad:

1. Not every shell displays the current directory in the prompt.
2. This filtering method would be applied to every line that goes through your terminal. This would slow down Atom and Terminal-Plus for larg

[2015-11-18 22:14] jeremyramin commented on #94
Did this work for you?

[2015-11-18 23:10] pcgeek86 commented on #94
@jeremyramin Yes this worked! Thank you. I wonder if it's possible to do "New Terminal Plus Tab" in Atom somehow.

Cheers,
Trevor Sullivan

[2015-11-18 23:10] #94 closed

[2015-11-18 23:13] pcgeek86 commented on #95
@jeremyramin My suggestion would be to enable that consistency with the editor window, and offer an override in the settings. Personally, I don't see myself ever changing the default font in Atom Editor or the Terminal-Plus window, but that's just me. If, for some very odd reason, I did end up changing the Atom font, I would kinda naturally expect the Terminal-Plus window to match it.

As far as t

[2015-11-19 00:06] tonatiuh opened #102 "Uncaught TypeError: Cannot set property '0' of undefined"
[Enter steps to reproduce below:]

1. Given I have terminal-plus open in an external monitor (res of 1980x1024)
2. When I switch to another app
3. And I unplug my computer (display of 1280x1024)
4. And switch back to Atom
5. Then this error appears.

**Atom Version**: 1.2.1
**System**: Mac OS X 10.11.1
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.3

[2015-11-19 00:09] nunocastromartins commented on #95
@jeremyramin I agree that it isn't much of an issue since it is still possible to manually set it so that both fonts match.
I was just pointing out that, by default, the terminal's font _should_ be the same as the text editor's (for the same reason that the text size should be the same - consistency).

If, by any chance, the editor's font isn't monospaced what exactly goes wrong (besides having mi

[2015-11-19 00:45] BLamy commented on #100
Okay so how about this:

3 Options added to settings.
**1) Default name to process**
   * Boolean - If enabled, All terminals names will update to show the process name, **unless** the user set a custom name.

**2) Max name length**
  * Number - How long a name can be before it's truncated. Does **not** effect custom names.

**3) Default name truncation**
  * enum - When a terminal window opens, w

[2015-11-19 00:58] BLamy commented on #100
If all data is processing through that function it might be possible to create a system where you can update the title from the console.

A proposed api might look something like this from a node application:
`console.log('terminal-plus:update-title ' + foobar);`

Now while it may be a performance hit to regex and entire string for the directory like I was originally suggesting. It probably would

[2015-11-19 01:04] BLamy commented on #100
I'd be willing to help you with some of this if you're in support of it.

[2015-11-19 01:40] jeremyramin commented on #102
Thanks for the reproduction steps. I'll take a look and get back to you.

[2015-11-19 02:23] jeremyramin commented on #95
@pcgeek86 @nunocastromartins In that case, I can very well have the font family match the text editor. This would be overridden by the Terminal-Plus settings. Expect this in the next update.

[2015-11-19 02:31] jeremyramin commented on #93
Please close this thread if your issue has been resolved.

[2015-11-19 04:22] BLamy commented on #100
I was able to hack this together.
![image](https://cloud.githubusercontent.com/assets/324928/11262277/1147f7bc-8e4b-11e5-98d4-e8583c26f4f1.png)

[2015-11-19 11:40] ywecur opened #103 "Option to open as a tab"
Currently it's only possible to open as a pull-down. It would be great to always have a dedicated terminal tab open!

[2015-11-19 12:00] ywecur commented on #103
[This code might help](https://github.com/Floobits/atom-term3/blob/master/lib/term-view.coffee)

[2015-11-19 17:33] #93 closed

[2015-11-19 17:35] pcgeek86 commented on #95
@jeremyramin Very cool, thank you. I think this consistency polish will help the package stand out from other similar ones.

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2015-11-19 19:28] tonatiuh commented on #102
I'm closing this issue given I tried to reproduce the bug again and I wasn't able to.

[2015-11-19 19:28] #102 closed

[2015-11-19 21:27] tonatiuh opened #104 "Default panel height as a percentage"
IMO it would be nice if the terminal height could be set not only as a fixed number but also as a percentage of the screen height.

[2015-11-19 21:50] objectkit commented on #70
Apologies @jeremyramin - time vampires sucked my time away and I didn't get back to you-  yes indeed, it is resolved- thanks.

[2015-11-19 22:18] pmsm1100 commented on #85
+1

[2015-11-19 22:19] pmsm1100 commented on #104
+1

[2015-11-19 23:10] freakypie opened #105 "Option for font size?"
It would be nice if we could choose the font size for the terminals.

[2015-11-20 00:46] mathewv commented on #14
Ah, sorry I didn't notice this earlier. I really appreciate that you took the time to implement this feature, thank you.

[2015-11-20 03:53] jeremyramin commented on #104
I will try adding this and get back to you.

[2015-11-20 03:54] jeremyramin commented on #105
The terminal should match Atom's font size. I can include a font size override in the settings though.

[2015-11-20 03:55] jeremyramin commented on #103
If you drag the status icon up to the atom tab bar, it will become a tab. This tab mode is experimental though as I'm still testing it and finding issues. It should work for most purposes.

[2015-11-20 22:52] freakypie commented on #105
The difference between the terminal and editors was the font family, and it made the terminal appear larger. I think it would be good to have a customizable size.

[2015-11-20 23:24] jeremyramin commented on #105
Noted. Expect it in the next release.

[2015-11-21 01:29] jeremyramin commented on #105
Resolved by v0.14.4. Please remember to close this thread if your issue has been resolved.

[2015-11-21 01:29] jeremyramin commented on #104
Added in v0.14.4. Please remember to close this thread if your issue has been resolved.

[2015-11-21 01:29] jeremyramin commented on #101
Fixed by v0.14.4. Please remember to close this thread if your issue has been resolved.

[2015-11-21 01:30] jeremyramin commented on #91
Should be fixed by v0.14.4. Please remember to close this thread if your issue has been resolved.

[2015-11-21 01:32] #24 closed

[2015-11-21 01:35] jeremyramin commented on #99
Did updating Atom fix your issue?

[2015-11-21 01:36] jeremyramin commented on #103
Please remember to close this issue if it has been resolved.

[2015-11-21 01:44] ywecur commented on #103
@jeremyramin Of course, sorry.

[2015-11-21 01:44] #103 closed

[2015-11-21 02:33] tonatiuh commented on #104
Awesome @jeremyramin! Nice job!

[2015-11-21 02:33] #104 closed

[2015-11-21 22:22] etiktin commented on #96
@jeremyramin, I assume you mean the issue is with `pty.js`. They do seem to support setting env on fork for Windows. Could you maybe elaborate a bit or paste a link to the relevant issue with the dependency?

@mswf, thanks for the tip :)

[2015-11-21 22:59] jeremyramin commented on #96
@etiktin Yes, the issue is with the `pty.js` dependency. I happen to be using my own fork [jeremyramin/pty.js](https://github.com/jeremyramin/pty.js) of it so I can make changes as needed. `pty.js` uses [rprichard/winpty](https://github.com/rprichard/winpty) for running the shell on Windows.

[The code for setting the environment with `pty.js` is the same on all operating systems.](https://github.

[2015-11-21 23:32] etiktin commented on #96
Thanks Jeremy.

[2015-11-22 14:03] lateau commented on #15
I found kaspersky blocks winpty-agent.exe. I just added a new rule to allows winpty-agent.exe then works perfectly.

[2015-11-23 01:53] luunguyenbk opened #107 "Can't copy command line."
Hi developers!

I have a issue with copy lines, when i use mouse to select which lines i want and press "CMD + C" ( MacOS), the selected highlight is disappear, so that can't let me to copy. I must to use right click and select copy, it is a little bit disagreeable.

Can you improve this functions.

Thanks you!

[2015-11-23 08:35] JostCrow commented on #91
Thanks it seems to work perfectly

[2015-11-23 08:35] #91 closed

[2015-11-23 15:16] nunocastromartins commented on #101
I don't think that this is completely resolved.
The problem with the missing cursor and the clearing of history are gone.

The `clear` command, however, still behaves differently from the system's terminal (at least in my system, not sure whether this can be different in other systems).
Specifically, using `clear` in the system's terminal doesn't output any new lines, meaning that scrolling up onl

[2015-11-23 20:25] freakypie commented on #105
:cake:

[2015-11-23 20:25] #105 closed

[2015-11-23 21:00] cpdean commented on #77
I can reproduce this.

with the dev tools open, i see the warning:

[code]
![terminal-plus_-__users_cdean_dev_work_pyline_-_atom](https://cloud.githubusercontent.com/assets/160099/11349547/b866b35a-91fa-11e5-9abe-c468ef2aa630.png)

@pietrodn as a temporary work-around, i can get a split pane terminal by creating the split from a different file, then dragging the terminal tab into that pane, and mo

[2015-11-24 00:34] jeremyramin commented on #101
I think I understand what you mean but a picture would be nice. Thanks.

[2015-11-24 00:38] jeremyramin commented on #107
I know what is causing this. I'll fix this and let you know when the next release is out.

[2015-11-24 05:17] jeremyramin commented on #100
This is possible but not until I have a way to get the process name in Windows.

3) Default tab name line break mode

These can be implemented along with `Set process as tab name` at some point in the future.

At the moment, I do not believe I will be adding this functionality. Currently I am focusing on perfecting the terminal emulator aspect of this plugin. As you said this is the functionality

[2015-11-24 05:19] jeremyramin commented on #99
Closing this issue as it is not something fixable on my end.

[2015-11-24 05:19] #99 closed

[2015-11-24 05:47] jeremyramin commented on #98
I tried running my own meteor app from the terminal. Like you said, I occasionally cleared the screen with `cmd-k`. I was not able to reproduce your issue. However, I recently changed how the `cmd-k` clear works. Can you confirm that the issue still exists as of the latest version of Terminal-Plus?

[2015-11-24 07:30] asiniy opened #108 "keybinding for fullscreen"
Hey @jeremyramin and huge thanks for this plugin. It seems very cool especially after `atom-term1,2,3` family.

Wonder to know, is there any keybinding for toogling fullscreen mode?

[2015-11-24 14:37] nunocastromartins commented on #101
System's terminal, after using `clear` and scrolling up:
![gnome-terminal](https://cloud.githubusercontent.com/assets/8314616/11369751/7740c60e-92b8-11e5-9787-f8d5d626540b.jpg)

Atom's terminal-plus, after using `clear` and scrolling up (I also resized the window by one line so that the last line is shown):
![atom-terminal](https://cloud.githubusercontent.com/assets/8314616/11369749/773ed768-92b8-

[2015-11-24 15:26] patrickml commented on #98
I will check it out for sure and let you know how things play out.

[2015-11-24 16:21] BLamy commented on #100
:+1:  Fair enough. I may put together a PR if I have time. Thanks for your work you've done here. This is by far my most used plugin.

[2015-11-24 22:59] lemontheme commented on #97
+1

something like ``cmd-k cmd-` `` maybe? ``cmd-k cmd-1...9+0`` if there are multiple panes to choose from?

[2015-11-25 04:07] jeremyramin commented on #108
I appreciate the compliment. Sorry, not at the moment. I am planning to add it in the future at some point though.

[2015-11-25 05:39] jeremyramin commented on #101
Noted. I will make adjustments for the next release.

[2015-11-25 05:40] jeremyramin commented on #97
`cmd-k` is currently reserved for clearing the screen. However, I do understand the point you are trying to make.

[2015-11-25 19:34] Twizzledrizzle opened #109 "Possible to hide the status bar?"
Great package!

Two questions from one quite new using atom.

Usually I open a terminal with a shortcut key, place it as a tab, and have it as a REPL when coding Python. So I rarely use the status bar.

* Is it possible to have the terminal as a tab as standard? Or to set as a tab with a shortcut key?
* Possible to hide the status bar? I only use it to drag and drop the terminal as a tab currently

[2015-11-26 07:39] smnbbrv commented on #107
+1, please fix it as soon as you can, this really slows down the working process

[2015-11-26 08:21] jeremyramin commented on #109
Currently there is no way to default to tab view only. One of the tasks on my To-Do List is to better implement the tab view mode and provide a setting to make it default functionality. I could also add the ability to hide the status bar to the list of enhancements.

[2015-11-26 08:24] jeremyramin commented on #107
My apologies, I will get right on it.

[2015-11-26 08:55] jeremyramin commented on #107
Fixed as of v0.14.5. Review the changes and let me know if your issue has been properly fixed. If your issue has been resolved, please close this issue thread.

[2015-11-26 08:56] jeremyramin commented on #101
I believe I have fixed it in the latest release. Please let me know what you think.

[2015-11-26 08:56] jeremyramin commented on #90
Added as of v0.14.5. Review the changes and let me know if your issue has been properly fixed. If your issue has been resolved, please close this issue thread.

[2015-11-26 09:04] luunguyenbk commented on #107
It's working perfect now, thanks you !

[2015-11-26 09:04] #107 closed

[2015-11-26 10:15] smnbbrv commented on #107
works like a charm and is fixed so fast! Thank you very much :)

[2015-11-26 12:00] dsgriffin opened #110 "Closing the 'Insert Text' popup"
Currently, if you click outside the popup it remains in place, even if you press Esc - you have to click back onto the input field and then press Esc. Would it be possible to have it closing even if you press Esc outside?

[2015-11-26 16:22] brbrr commented on #90
awesome! thanks :+1:

[2015-11-26 16:22] #90 closed

[2015-11-27 04:37] jeremyramin commented on #110
This is possible. Sorry for the inconvenience, I'll have this fixed in the next release.

[2015-11-27 05:15] KenPowers opened #111 "Tree view and git gutter do not update after git commands are executed."
Whenever I execute git commands in the terminal the tree view and git gutter don't update:

![image](https://cloud.githubusercontent.com/assets/174864/11434498/8039c9b0-949b-11e5-8e4e-b31cb9ea70a9.png)

The tree view should be all the same color and the git gutter shouldn't have any colors. Blurring and focussing the Atom window fixes the issue.

[2015-11-27 05:16] KenPowers commented on #111
Also, since it's pointed out in the `README`, the available updates are UI theme related:

![image](https://cloud.githubusercontent.com/assets/174864/11434544/0ec11c56-949c-11e5-91ea-ed26cc7ec17f.png)

[2015-11-27 06:20] jeremyramin commented on #111
Terminal-Plus has no influence over the git-gutter and tree-view. Those views are run by their own packages that are a part of Atom.

[2015-11-27 08:54] ardit700 opened #112 "Scroll doesn't work on Windows."
Hi

First of all, terminal-plus is such a great package.

I saw an existing issue reported about the scrolling problem on Septemper this year.

I now have terminal-plus 0.14.2, and Atom 1.2.4, running on Windows 7 and I can't seem to figure out how to scroll up when I have got a lot of output.

![terminal-plus](http://imgur.com/DrvsXUv)

I was expecting to see a scroll bar. Or is there a keyboard

[2015-11-27 15:14] nunocastromartins commented on #101
This is solved, as far as I'm concerned. :-)

[2015-11-27 15:14] #101 closed

[2015-11-27 15:19] KenPowers commented on #111
I figured as much. It would be great if there was a way for the terminal to notify Atom to check for updates after certain commands (or all commands, if that isn't excessive).

[2015-11-27 18:20] ksnyde opened #113 "Cut and Paste not working with hotkeys on Mac"
In more recent builds of the terminal package I am no longer able to use the CMD-C and CMD-V cut and paste operations. I have demonstrated this here:

[2015-11-27 18:23] jeremyramin commented on #113
Yes, this was an issue before v0.14.5. Please update to this latest version and reload Atom for the changes to take effect.

[2015-11-27 19:08] jeremyramin commented on #112
Hello. Thank you for the compliment, that means a lot.

You scroll with the scroll-wheel on your mouse. There is no scroll bar because Terminal-Plus only renders the lines that you see in the terminal view. The range of these lines is updated with scroll wheel events.

[2015-11-27 19:57] ksnyde commented on #113
ok, i had updated but I guess the change took hold only after I restarted Atom.

[2015-11-27 19:57] #113 closed

[2015-11-27 20:19] LeanderK opened #114 "Unable to install/update terminal-plus"
Hey, first there was a problem while trying to update terminal-plus, so i clicked uninstall and install again, but it is still throwing errors. This is the output.
[code]

[2015-11-27 21:07] Twizzledrizzle commented on #109
Sounds great! Thank you again for the time you have put into this, it is really useful for me

[2015-11-28 03:17] tobiasbueschel opened #115 "'terminal-plus:toggle'"
I created a custom shortcut to toggle the terminal

'.platform-darwin atom-workspace':
  'ctrl-esc': 'terminal-plus:toggle'

However, once it appears it does not hide when 'ctrl-esc' is pressed again.

[2015-11-28 09:13] jeremyramin commented on #111
Unfortunately there is no way for Terminal-Plus to know when you are entering a command. It simply takes your keypresses and passes them along to your shell.

[2015-11-28 09:20] jeremyramin commented on #114
There have not been any changes to Terminal-Plus that would have caused this. Some extra details might help me diagnose this:

1. Which operating system are you on?
2. Which version of Atom are you running?

[2015-11-28 09:31] jeremyramin commented on #115
`ctrl-esc` is an escape sequence that is recognized by Terminal-Plus. The terminal intercepts the keydown event before Atom can respond to it. This is how the terminal prevents other common sequences for terminals (like `control-c`) from being triggered as Atom keydown events. I am sorry for the inconvenience, but you will have to pick something else.

[2015-11-28 12:10] LeanderK commented on #114
Ok, mac osx el capitan and atom 1.2.4. I don't work with javascript and the whole npm ecosystem, so i could`t have interfered with it (if that is even possible).

[2015-11-28 15:31] KenPowers commented on #111
Hm. That's unfortunate.

[2015-11-28 15:31] #111 closed

[2015-11-28 21:06] Twizzledrizzle commented on #114
Worked for me on El Capitan, latest Atom beta

[2015-11-29 00:52] tobiasbueschel commented on #115
thanks for the swift reply @jeremyramin! I changed it to ```ctrl-.``` and it works great! Cheers :+1:

[2015-11-29 06:28] #115 closed

[2015-11-29 06:43] jeremyramin commented on #114
@LeanderK As Twizzledrizzle said, other OS X users can install correctly so this would have something to do with your machine's configuration.

The error log does not give me much to go on. [This issue](https://github.com/npm/npm/issues/9122) hints that this might be a permissions error. If this does not help you fix your issue, I would consult the [Atom repository](https://github.com/atom/atom) o

[2015-11-29 13:12] LeanderK commented on #114
thank you!

[2015-11-30 14:45] fblamanna opened #116 "Antialiasing"
Is antialiasing supported on OS X on Monaco Font?

[2015-11-30 16:28] madranet commented on #114
I also had a problem with El Capitán and the latest update failing. The errors I was getting included the following, repeated several times:

[code]
The answer was to re-install the Xcode Command Line Tools with:

[code]
[Which updating to El Capitán seems to have broken]

Just throwing that into the mix, in case anyone else is having problems upgrading, but not getting the exact same error messag

[2015-11-30 21:14] jeremyramin commented on #116
It should be. Are you experiencing issues with font rendering? If yes, I would greatly appreciate a screen capture of the issue so I can diagnose it.

[2015-12-01 08:54] fblamanna commented on #116
Actually what I meant is the possibility to disable the antialiasing in Atom. Please find attach my Mac Terminal prompt and the corresponding one in Atom. Both are in Monaco 10pt.
![terminal](https://cloud.githubusercontent.com/assets/15954672/11496337/6cd5adde-9811-11e5-99cd-fe8cc537a179.png)
![atom](https://cloud.githubusercontent.com/assets/15954672/11496340/700bbbc4-9811-11e5-81ad-dbf34a605cbd

[2015-12-01 09:14] jeremyramin commented on #116
I see now what you are saying. I'll look into this and get back to you.

[2015-12-03 10:33] matthewcanty opened #117 "Git Bash opens in new window on Windows"
The default terminal is Powershell, but I want it to be Git Bash.

I have set Shell Override to C:\Program Files\Git\git-bash.exe but this opens in a new window.

![image](https://cloud.githubusercontent.com/assets/2089581/11558244/7401f286-99a9-11e5-86d4-174d0407381a.png)

[2015-12-03 11:10] yay opened #118 "No scrollbar in terminal?"
The only way to scroll is by using a scroll wheel.

[2015-12-03 11:14] yay opened #119 "More efficient use of vertical space (no extra toolbar)"
Please consider doing this (at least as an option), if it's at all possible.

![screen shot 2015-12-03 at 12 09 38 pm](https://cloud.githubusercontent.com/assets/1799756/11559160/0c948bb4-99b7-11e5-9f8a-12b2c1beecb3.png)

Instead of having one extra toolbar with buttons, it can be a single toggle in the existing toolbar, that will show/hide a tab panel with all terminal tabs.

[2015-12-03 14:33] nunocastromartins commented on #119
:+1:

[2015-12-03 22:41] matthewcanty commented on #117
Shell Override: C:\Program Files\Git\bin\sh.exe
Shell Arguments: --login

[2015-12-03 22:41] #117 closed

[2015-12-03 22:52] jeremyramin commented on #117
I was curious as to how some people got git bash running in Terminal-Plus on Windows, so thanks for this!

I'm glad that you were able to resolve your issue. Thank you for using Terminal-Plus.

[2015-12-03 22:53] jeremyramin commented on #119
I'll consider this, sounds good to me.

[2015-12-03 23:00] matthewcanty commented on #117
It's great. Although I'm having an issue which is preventing me from using it. As I type and hit backspace and move about the command line, weird things happen. Characters move around and things get displaced. Some characters but unpassable and undeletable.

The only resolution is to hit enter - Esc or Ctrl+C do not work.

Not sure if this is your problem or a problem with Powershell and Git Bash

[2015-12-03 23:02] matthewcanty commented on #117
Just tried it in normal Powershell, no issues there.

I tried to capture a screen recording but Recordit was having trouble with my resolution I think... Will try again in the morning.

[2015-12-03 23:03] jeremyramin commented on #117
I'll have to test this myself when I have time. The recording you mentioned would be nice so I can see exactly what is going wrong.

[2015-12-03 23:03] jeremyramin commented on #118
I will have to see about adding a custom scrollbar to the view.

[2015-12-04 11:34] matthewcanty commented on #117
![weird-atom-terminal-issue](https://cloud.githubusercontent.com/assets/2089581/11588761/d6b3ddc8-9a7a-11e5-8bff-e60c5860c258.gif)

See how all the text is being rearranged. Soon after the clip starts, a can't traverse back past _a_...

[2015-12-04 13:16] Ivoah opened #120 "Feature request: Solarized light theme"
It'd be nice if there was a solarized light theme for the terminal, so it matches the rest of window when it's set to solarized light.

[2015-12-04 18:28] dustinblackman commented on #118
:+1:

[2015-12-05 02:29] drom opened #121 "double click selects word, not the path"
Hi,
Thank you for the great tool!

One issue I have switching from the other terminals is: When I double click on the file name with a path like `foo lib/index.js bar` I get only word `index` selected. In other terminals I got all `lib/index.js` path part selected.

[2015-12-05 21:15] jeremyramin commented on #120
I'll see about getting this added.

**Note**: You can use #106 as a reference if you would like to fork the repository and submit a pull request with the theme.

[2015-12-05 21:18] jeremyramin commented on #121
Thanks, I'll take a look when I have a chance.

[2015-12-05 21:21] jeremyramin commented on #117
Thanks for the animation, I see what is happening now. Unfortunately I won't have time to test this myself until next week. Sorry for the inconvenience. I'll be sure to let you know once I have tested this and fixed it.

[2015-12-06 19:27] ardit700 commented on #112
Thanks!

[2015-12-06 19:43] ardit700 opened #122 "Terminal freezes"
Hi Jeremy

I am using terminal-plus on Windows 7 with the latest Atom stable release.

The terminal seems to freeze once I open it. It doesn't show the directory path and doesn't let you type anything inside it.

I tried to uninstall it and install it again. Once I reinstall it, the terminal seems to open correctly and let's you write for a few seconds, and then freezes again.

Here is the issue r

[2015-12-06 20:50] jeremyramin commented on #122
This means that something is closing the agent that runs your shell in the background. Please make sure that `winpty-agent.exe` is not being closed by any of your programs. If you have antivirus, that would be a good place to start and check.

[2015-12-07 03:58] nwaywood opened #123 "Feature Request: Command to refocus terminal plus"
The 'cmd - `' command is really useful when you want focus on terminal-plus if the pane is not currently open. However if the terminal-plus pane is already open then there is no command to refocus it.

[2015-12-08 09:23] calidion opened #124 "text-shadow problem"
text-shadow makes it looks very uncomfortable in ubuntu

[2015-12-08 22:19] ardit700 commented on #122
Thanks Jeremy. I found out winpty-agent.exe was part of the Pycharm and Android Studio installations. I uninstalled both those software, and reinstalled Atom and terminal-plus but I still get the same error. There doesn't seem to be a winpty-agent.exe file anymore in my computer. And I don't have an antivirus.

If you have any further tips on troubleshooting this, please let me know.
Ardit.

[2015-12-09 10:06] TiDJ opened #125 "command shortcut"
Hello,

It could be nice to be able to add some shortcut
Like : ssh -A user@00.00.00.00 -p 000
(Open a new tab and execute the command.)

[2015-12-09 15:15] ardit700 commented on #122
Alright, there seemed to be a virus in my WIndows installation that affected access permission. Basically, some files could not be modified while various software tried to make changes.
I installed a fresh Windows 7 and it is now working again.
Thanks for your assistance Jeremy.

[2015-12-09 15:15] #122 closed

[2015-12-09 15:58] Grawl opened #126 "Uncaught Error: ioctl(2) failed."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Mac OS X 10.11.2
**Thrown From**: [terminal-plus](https://github.com/jeremyramin/terminal-plus) package, v0.14.5

### Stack Trace

Uncaught Error: ioctl(2) failed.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-09 15:59] #126 closed

[2015-12-09 15:59] Grawl commented on #126
sorry

[2015-12-09 20:21] timkrins opened #127 "Git is a silent requirement, but not listed anywhere"
Discovered this while installing on a fresh Windows machine with Git not yet installed.
Installation fails silently except in the developer console.

I see in the todo's that there is an item that says, "Possibly merge dependencies into Terminal-Plus?" - I'm assuming this would fix the issue?

[code]

[2015-12-10 05:23] jeremyramin commented on #126
Were you able to fix your issue?

[2015-12-10 05:32] jeremyramin commented on #127
Yes, the Terminal-Plus installation relies on the system having git installed for a git clone of the dependency repositories.

That item in the todo list is me considering bringing the dependencies into this repository to fix this issue. However, there are some unwanted side effects with that decision which prevent me from doing that. Either way thank you for pointing out that this silently fails

[2015-12-10 05:40] jeremyramin commented on #123
Sorry for the late reply, busy week for me. I see what you are saying. I'll consider this with issue #97 and think of something. If there is a certain way you would like to be able to do this, let me know. It seems the consensus is to implement a command that switches focus between the editor and the terminal.

[2015-12-10 05:43] jeremyramin commented on #124
No text-shadow applied here. Webkit font rendering is a bit messy in Atom. I will have to play with CSS values to fix the text-shadow.

Linking this with issue #116.

[2015-12-10 05:48] jeremyramin commented on #122
Sorry for the late reply. I'm glad you were able to find a solution to this.

[2015-12-10 05:55] nwaywood commented on #123
yes a command that toggles focus sounds perfect :)

[2015-12-10 05:58] calidion commented on #124
i solved this by adding the following snippets to my stylesheet config.

[code]

[2015-12-10 05:59] jeremyramin commented on #125
Custom atom commands have been an idea in the making. Not on the public todo list but on my personal one. Linking this with issue #34 so I can notify you when this is available.

[2015-12-10 06:34] kunday commented on #51
Ran into this problem couple of times today.

[2015-12-10 07:55] jeremyramin commented on #51
@kunday You might want to take a look at issue #122 if you are on Windows.

[2015-12-10 14:07] Grawl commented on #2
Just got exactly this problem running a terminal pane with “Shell Override” option set to just `fish`:
`execvp(3) failed.: No such file or directory`

It was strange because I not got this error yesterday. Set it to `/usr/local/bin/fish` as in my OS X Terminal.app options and it works great.

Maybe you will add more human-understandable error on this exception? Like “Shell Override is set to missi

[2015-12-10 14:09] Grawl commented on #126
It was because of I resized Atom window with open Terminal Plus pane. Cannot repeat this issue again. Sent this issue in the middle of a night, sorry again.

[2015-12-11 09:34] Mathahal opened #128 "Character corruption has occured when type multibyte characters"
when I typed some japanese characters, it occured.
it is not available with multibyte characters typing?
![screen shot 2015-12-11 at 18 29 19](https://cloud.githubusercontent.com/assets/5163255/11740336/23c5e4d4-a035-11e5-812a-6a111a8bec5e.png)

thank you.

[2015-12-11 18:03] jeremyramin commented on #2
Just putting `fish` should work unless `/usr/local/bin` is not located in your PATH environment variable. The error you see is provided by a dependency of Terminal-Plus but you are right. The errors should be more understandable. I will look into getting that fixed.

[2015-12-11 18:08] jeremyramin commented on #128
Other users and I have been able to type Japanese characters. The things to consider here are:
1. Which operating system are you running on?
2. What font do you have set for Atom and Terminal-Plus?
3. Which shell are you using?

[2015-12-11 19:54] dustinblackman opened #129 "Terminal on panes"
What would be awesome if we could position terminals like we would panes, add for more flexibility when working on larger screens.

[2015-12-11 22:44] jeremyramin commented on #129
Just want to clarify the idea you are proposing here. Are you referring to the pane splitting that allows you to have two items side-by-side?

[2015-12-12 06:08] dustinblackman commented on #129
Yep you got it!

[2015-12-12 06:13] Grawl commented on #2
If I wrote just `fish` into Terminal.app, it launches. So `/usr/local/bin` is located into `PATH`.

[2015-12-12 12:47] kambing86 opened #130 "windows 7 npm issue"
using terminal-plus having npm issue
![npm](https://cloud.githubusercontent.com/assets/1342133/11761935/054e849a-a10f-11e5-852a-751d9c0eb386.png)

anything that install from cmd.exe or install from Mac, npm not able to locate them properly in terminal-plus
but using cmd.exe has no issue at all
![cmd](https://cloud.githubusercontent.com/assets/1342133/11761954/acc62ce6-a10f-11e5-9f02-1e118b22e95b.p

[2015-12-12 12:50] kambing86 commented on #130
I able to solve this issue by removing all the package from devDependencies
it turns out that your terminal plus doesn't allow using devDependencies, which is so weird

[2015-12-14 00:59] Mathahal commented on #128
Thank you for replying,

1. Which operating system are you running on?

2. What font do you have set for Atom and Terminal-Plus?

3. Which shell are you using?

[2015-12-14 05:14] jeremyramin commented on #130
Terminal-Plus makes no modifications to the functionality of npm. It simply provides an interface for your system's shell from within Atom. In this case, you are using `Powershell` in Terminal-Plus rather than `cmd.exe`. It could be an issue with `Powershell` and npm on your system. You might have better luck by changing your default shell in the settings with `Shell Override` to `C:\Windows\syste

[2015-12-14 05:21] jeremyramin commented on #128
Were you using a certain command line application while this was happening?

[2015-12-14 13:29] kambing86 commented on #130
no luck trying C:\Windows\system32\cmd.exe as well

![cmd](https://cloud.githubusercontent.com/assets/1342133/11782088/b5e2bbbe-a2a9-11e5-9ae1-d851665930ae.png)

[2015-12-14 20:48] jeremyramin commented on #130
I'll test this on a Windows machine myself and get back to you.

[2015-12-15 01:06] ywecur opened #131 "Alt + arrow Doesn't work"
`Alt + arrow` key combinations don't work, and are necessary for some applications, such as Weechat.

[2015-12-15 01:47] Mathahal commented on #128
It turned 'あ' into '<00e3><0081><0082>' whereever I typed on Shell<br>and<br>turned 'あ' into '�~A~B' where I typed on Vim.

[2015-12-15 08:04] Mathahal commented on #128
I tried to change language settings in OSX System Preferences from English to Japanese, then It has fixed.
Thank you so much.